{% extends "::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}登录 - 微述{% endblock %}

{% block head_style %}
    {{ parent() }}
    {% stylesheets
    '@AppWebBundle/Resources/public/css/myroom.css'
    filter="css_url_rewrite"
    %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock head_style %}

{% block content %}
    <h3 class="title"><span>用户登录</span></h3>
    <ul class="login">
        <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post" >
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <li>
                <i class="icons email"></i>
                <input type="text" id="username" name="_username" value="{{ last_username }}" class="icons intputtext" required="required" />
            </li>
            <li>
                <i class="icons pw"></i>
                <input type="password" id="password" name="_password" class="icons intputtext" required="required" />
            </li>
            <li style="padding:5px 0;">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" class="remenberpw" />
                <label for="remenberpw" class="classname g-u">下次自动登录</label>
                <a href="{{ path('fos_user_resetting_request') }}" class="unremenber">忘记密码？</a>
            </li>
            <li><input id="_submit" name="_submit" class="icons submit" type="submit" value="登录"/></li>
        </form>
    </ul>
{% endblock content %}


{% block content_row %}
    <div class="row">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post" role="form">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="form-group">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" required="required" />
            </div>

            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" class="form-control" required="required" />
            </div>

            <div class="form-group">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            </div>

            <input type="submit" id="_submit" name="_submit" class="btn btn-lg btn-primary btn-block" value="{{ 'security.login.submit'|trans }}" />
        </form>
    </div>
{% endblock content_row %}
