<div class="foot">
    <div class="footinner">
        <div class="left g-u">
            <a class="footlogo" href=""></a>
        </div>
        <div class="midd g-u" style="border: none;">
            <p><a href="{{ path('page_about_us') }}">关于我们</a><span>|</span><a href="{{ path('page_contact_us') }}">联系我们</a><span>|</span><a href="{{ path('page_our_team') }}">团队介绍</a><span>|</span><a href="{{ path('page_privacy') }}">版权声明</a><span>|</span><a href="{{ path('page_legal') }}">法律条款</a></p>
            <p>&copy; 2014 - {{ 'now'|date('Y') }} weshu.cn <span>陕ICP备14011126号-1</span></p>
        </div>
        <!--
        <div class="right g-u">
            <p>
                <span>在这里关注我们的动向</span>
                <a class="xinlang" href=""></a>
                <a class="weixin" href=""></a>
            </p>
        </div>-->
    </div>
</div>
{% include 'AppWebBundle:_global:tongji.html.twig' %}