{% if app.user %}
<div class="enters rightF row">
    <div class="message leftF"><a href="{{ path('member_message') }}"><span class="icons mess"><em></em></span></a></div>
    <div class="experience leftF"><a href="{{ path('member_experience') }}">经验<em>{{ app.user.experience|default(0) }}</em></a></div>
    <div class="user leftF">
        <div class="userminpic"><a href="{{ path('member_course') }}" class="pic"><img title="{{ app.user.nickname }}" src="{% if app.user.avatar|default('') %}{{ img_host ~ app.user.avatar }}{% else %}{{ default_avatar }}{% endif %}" width="27" height="26"/></a></div>
        <ul>
            <li class="cur"><a href="{{ path('member_course') }}">{{ app.user.nickName|default(app.user.username) }}</a></li>
            <li><a href="{{ path('member_course') }}">我的课程</a></li>
            <li><a href="{{ path('member_video') }}">我的视频</a></li>
            <li><a href="{{ path('member_settings') }}">个人设置</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}">退出</a></li>
        </ul>
    </div>
</div>
{% else %}
<div class="unlogin rightF row">
    <p>
        <a href="{{ path('fos_user_security_login') }}">登录</a><span>/</span>
        <a href="{{ path('fos_user_registration_register') }}">注册</a>
    </p>
</div>
{% endif %}