<div class="search rightF">
    <form action="{{ path('app_web_search') }}" method="get">
        <p id="searchp" class="searchp">
            <i class="icons sech"></i><input name="wd" type="text" placeholder="搜索视频或课程" class="searchinput">
        </p>
        <div class="searchlist">
            <p>热门搜索</p>
            <ul>
                <li><a href="{{ path('app_web_search', {'wd':'孕妇瑜伽'}) }}">孕妇瑜伽</a></li>
                <li><a href="{{ path('app_web_search', {'wd':'魔术'}) }}">魔术</a></li>
                <li><a href="{{ path('app_web_search', {'wd':'剪纸'}) }}">剪纸</a></li>
                <li><a href="{{ path('app_web_search', {'wd':'手工'}) }}">手工</a></li>
                <li><a href="{{ path('app_web_search', {'wd':'日语基础'}) }}">日语基础</a></li>
                <li><a href="{{ path('app_web_search', {'wd':'拉丁舞'}) }}">拉丁舞</a></li>
            </ul>
        </div>
    </form>
</div>