{% extends "AppWebBundle::list.html.twig" %}

{% block title %}{{ category.name }} - 微述{% endblock %}

{% block foot_script_assetic %}
    {{ parent() }}
    {% javascripts output="js/scrolload.js"
    '@AppAdminBundle/Resources/public/js/scrolload.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock foot_script_assetic %}

{% block content_sidebar %}
    <div class="mainleft leftF">
        {{ knp_menu_render('category_sidebar', {'currentClass': 'cur'}) }}
    </div>
{% endblock content_sidebar %}

{% block content_right %}
    <div class="videolist">
        {% block right_tab %}
            <div class="classylist">
                {{ knp_menu_render('video_list_tab', {'currentClass': 'cur'}) }}
            </div>
        {% endblock right_tab %}

        {% block right_content %}
            <ul id="videos" class="curseul othercur row">
                {% for video in videos %}
                    <li>
                        <div class="img">
                            <a href="{{ path('video_show', {'slug': video.slug|default(video.number)}) }}">
                                <img width="215" height="140" src="{{ img_host ~ video.cover }}" />
                            </a>
                        </div>
                        <div class="curinfo">
                            <p class="curname">{{ video.title|length > 10 ? video.title[:10] ~ '...' : video.title }}</p>
                            <span>
                                <a href=""><b class="icons guankan"></b>{{ random(100, 5000) }}</a>
                                <a href=""><b class="icons liuyan"></b>{{ random(10, 1000) }}</a>
                                <a href=""><b class="icons zan"></b>{{ random(100, 5000) }}</a>
                            </span>
                            <div class="introduce">
                                {{ video.description|length > 30 ? video.description[:30] ~ '...' : video.description }}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <script>
                var Scrolload = {};
                Scrolload.wrapper = $("#videos");
                Scrolload.url = '{{ next_url|raw }}';
                Scrolload.loading = $("<li class='text-center'><i class='fa fa-spinner fa-spin fa-4x'></i></li>");
            </script>
        {% endblock right_content %}
    </div>
{% endblock content_right %}
