{% for video in videos %}
    <li next-url="{{ next_url|raw }}">
        <div class="img">
            <a href="{{ path('video_show', {'slug': video.slug|default(video.number)}) }}">
                <img width="215" height="140" src="{{ img_host ~ video.cover }}" />
            </a>
        </div>
        <div class="curinfo">
            <p class="curname">{{ video.title|length > 10 ? video.title[:10] ~ '...' : video.title }}</p>
            <span>
                <a href=""><b class="icons guankan"></b>{{ random(100, 5000) }}</a>
                <a href=""><b class="icons liuyan"></b>{{ random(10, 1000) }}</a>
                <a href=""><b class="icons zan"></b>{{ random(100, 5000) }}</a>
            </span>
            <div class="introduce">
                {{ video.description|length > 30 ? video.description[:30] ~ '...' : video.description }}
            </div>
        </div>
    </li>
{% endfor %}