{% extends "::layout.html.twig" %}

{% block title %}{{ video.title }} - 微述{% endblock %}
{% block head_style %}
    {{ parent() }}
    {% stylesheets
    '@AppWebBundle/Resources/public/video-js/video-js.css'
    filter="css_url_rewrite"
    %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock head_style %}

{% block head_bottom %}
<style>
    .headdiv {
        height: 60px;
    }
</style>

{% endblock head_bottom %}

{% block foot_script_assetic %}
    {{ parent() }}
    {% javascripts
    '@AppWebBundle/Resources/public/video-js/video.dev.js'
    '@AppWebBundle/Resources/public/js/gdt.js'
    '@AppWebBundle/Resources/public/js/track.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock foot_script_assetic %}
{% block body_end %}
    <script>
        var o1=document.getElementById('rightMain');
        var s1=new CustomBar(o1,0);
        videojs('really-cool-video').ready(function(){
            var myPlayer = this;
            $("a.snapshot").on('click', function(e){
                e.stopPropagation();
                myPlayer.currentTime(this.getAttribute('point'));
            });
        });

        //track play
        var played = function(){
            return {
                key: 'played',
                value: videojs('really-cool-video').currentTime()
            }
        }
        var duration = function(){
            return {
                key: 'duration',
                value: videojs('really-cool-video').duration()
            }
        }
        var url = '{{ path('history_add') }}';
        $(document).ready(function(){
            var els = ['#vid',played,duration];
            if(typeof videoTracker == 'function') {
                //start tracking after 1 seconds
                setTimeout(function(){
                    videoTracker(url,els);
                }, 1000);
            }

            $('#back_btn').click(function(){
                history.back();
                return false;
            });
            var collect_url = "{{ path('collect_add') }}";

            $('#collect_btn').click(function(e){
                e.stopPropagation();
                var self = $(this);
                var data = {vid:self.attr('vid')};
                $.ajax({
                    url: collect_url,
                    type: 'POST',
                    data: data,
                    dataType: 'json',
                    complete: function(response){
                        if(response.status == 200) {
                            self.html('收藏成功');
                        }
                    }
                });
                return false;
            });
        });
    </script>
{% endblock body_end %}

{% block header %}
    <div class="headdiv">
        <div class="headtop">
            <div class="videoname leftF">
                <a href="#" id="back_btn">&lt;&nbsp;返回</a>
                <span>{{ video.title }}</span>
                {% if app.user %}
                <a href="#" id="collect_btn" vid="{{ video.id }}" class="functopa">收藏</a>
                {% endif %}
            </div>

            {% include 'AppWebBundle:_global:loginStatus.html.twig' %}

            {% include 'AppWebBundle:_global:searchForm.html.twig' %}

            <div class="clear"></div>
        </div>
    </div>
{% endblock header %}

{% block above_main %}
<div class="playarea">
    <div class="playbox row">
        <div class="leftF playobj">
            <div class="video">
                <video id="really-cool-video" class="video-js vjs-default-skin" controls
                       preload="auto" width="680" height="470" autoplay="autoplay" poster="{{ img_host ~ video.cover }}"
                       data-setup='{}'>
                    <source src="{{ video_host ~ video.source }}" type='video/mp4'>
                    <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a web browser
                        that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                    </p>
                </video>
            </div>
            <input id="vid" type="hidden" key="vid" value="{{ video.id }}" />
            <div class="showhidebtn cuicons"></div>
        </div>
        <div class="playmenu rightF">
            <h4>知识点</h4>
            <div class="scrollbararea">
                <div class="innerdiv" id="rightMain">
                    <div class="innerctn course_main">
                        <ul class="vcatalogue">
                            {% for snapshot in snapshots %}
                            <li>
                                <a class="snapshot" point="{{ snapshot.point|default(0) }}" href="#"><b class="cuicons">{{ loop.index }}</b>
                                    {{ snapshot.summary }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="scrollcolumn">
                        <div class="scrollbar" style=""></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock above_main %}

{% block content %}
    <div class="cursebottom">
        <div class="cmleft leftF">
            <div class="box">
                <h3><span class="cuicons">视频介绍</span></h3>
                <div class="info">
                    {{ video.description }}
                </div>
            </div>
        </div>

        <div class="cmright rightF">
            <div class="teacherbox">
                <h4><span>讲师介绍</span></h4>
                <dl>
                    <dt class="row">
                    <div class="img"><a href="#$"><img src="{% if video.speakerAvatar %}{{ img_host }}{% endif %}{{ video.speakerAvatar|default(default_avatar) }}" width="60" height="60"/></a></div>
                    <p><a href="#$" class="name">{{ video.speaker|default('微述')  }}<span class="cuicons teacher"></span></a></p>
                    <p>{{ video.speakerTitle }}</p>
                    </dt>
                    <dd>
                        {{ video.speakerIntro }}
                    </dd>
                </dl>
            </div>
        </div>

    </div>
{% endblock content %}
