{% for object in objects %}
    <tr next-url="{{ path('app_admin_image_scroll', {'marker': marker}) }}">
        <td><img src="{{ image_host ~ object.key }}" width="200" /></td>
        <td>{{ object.eTag }}</td>
        <td>{{ object.key }}</td>
        <td>{{ (object.size / 1024)|number_format(2, '.') ~ ' KB' }}</td>
        <td>{{ image_host ~ object.key }}</td>
        <td>{{ object.lastModified|date("Y/m/d h:i:s") }}</td>
    </tr>
{% endfor %}