{% extends "AppWebBundle::base.html.twig" %}
{% trans_default_domain 'admin' %}

{% block title %}{{ 'app.admin.dashboard'|trans() }} - 微述{% endblock %}
{% block head_style %}
    {% stylesheets
    '@AppWebBundle/Resources/public/components/bootstrap/dist/css/bootstrap.css'
    '@AppWebBundle/Resources/public/css/font-awesome.css'
    '@AppAdminBundle/Resources/public/css/dashboard.css'
    filter="css_url_rewrite"
    %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock head_style %}
{% block head_script %}
    {% javascripts output="js/jquery.js"
    '@AppWebBundle/Resources/public/components/jquery/dist/jquery.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock head_script %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('app_admin_dashboard_index') }}">微述</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('app_admin_dashboard_index') }}">{{ 'app.admin.dashboard'|trans() }}</a></li>
                    <li><a href="{{ path('app_admin_changepassword_changepassword') }}">{{ 'change_password.submit'|trans({},'FOSUserBundle') }}</a></li>
                    <li><a href="{{ path('app_admin_auth_logout') }}">{{ 'app.profile.logout'|trans({},'admin') }}</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>
{% endblock navbar %}

{% block container_class %}container-fluid{% endblock container_class %}

{% block content_row %}
    <div class="row">
        {% block content %}
            <div class="col-sm-3 col-md-2 sidebar">
                {% block content_content %}
                    {{ knp_menu_render('admin_nav', {'currentClass': 'active'}) }}
                {% endblock content_content %}
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                {% block content_sidebar %}
                    <h2>Sidebar</h2>
                {% endblock content_sidebar %}
            </div>
        {% endblock content %}
    </div>
{% endblock content_row %}

{% block content_div_start %}{% endblock content_div_start %}
{% block container_tag_end %}{% endblock container_tag_end %}
{% block page_header %}{% endblock page_header %}
{% block content_div_end %}{% endblock content_div_end %}
{% block footer_tag_start %}{% endblock footer_tag_start %}
{% block footer %}{% endblock footer %}
{% block footer_tag_end %}{% endblock footer_tag_end %}


{% block foot_script %}
{% block foot_script_assetic %}
    {% javascripts output="js/build.js"
        '@AppWebBundle/Resources/public/components/bootstrap/dist/js/bootstrap.js'
        '@AppWebBundle/Resources/public/assets/js/docs.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock foot_script_assetic %}
{% endblock foot_script %}