{% extends "AppWebBundle::layout.html.twig" %}

{% block title %}{{ 'app.login.signin'|trans({},'admin') }}{% endblock %}

{% block navbar %}{% endblock navbar %}

{% block head_style %}
    {{ parent() }}
    {% stylesheets
    '@AppAdminBundle/Resources/public/css/signin.css'
    filter="css_url_rewrite"
    %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock head_style %}

{% block container %}
    <div class="container">
        <form action="{{ path('app_admin_auth_check') }}" class="form-signin" role="form" method="post" id="login_form">
            <h2 class="form-signin-heading">{{ 'app.login.label'|trans({},'admin') }}</h2>
            {{ form_widget(form) }}

            <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'app.login.signin'|trans({},'admin') }}</button>
        </form>
    </div> <!-- /container -->
{% endblock container %}