{% extends "AppWebBundle::list.html.twig" %}

{% block title %}Mooc课程 - 微述{% endblock %}
{% block content %}
    {% block content_right %}
        <div class="videolist">
            {% block right_tab %}
                <div class="classylist">
                    {{ knp_menu_render('course_list_tab', {'currentClass': 'cur'}) }}
                </div>
            {% endblock right_tab %}

            {% block right_content %}
                <ul id="courses" class="curseul row">
                    {% for course in courses %}
                        <li>
                            <div class="img">
                                <a href="{{ path('course_show', {'slug': course.slug}) }}">
                                    <img width="215" height="140" src="{{ img_host ~ course.cover }}" />
                                </a>
                            </div>
                            <div class="curinfo">
                                <p class="curname">{{ course.title|length > 10 ? course.title[:10] ~ '...' : course.title }}</p>
                            <span>
                                <a href=""><b class="icons guankan"></b>{{ random(100, 5000) }}</a>
                                <a href=""><b class="icons liuyan"></b>{{ random(10, 1000) }}</a>
                                <a href=""><b class="icons zan"></b>{{ random(100, 5000) }}</a>
                            </span>
                                <div class="introduce">
                                    {{ course.description|length > 30 ? course.description[:30] ~ '...' : course.description }}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <script>
                    var Scrolload = {};
                    Scrolload.wrapper = $("#courses");
                    Scrolload.url = '{{ next_url|raw }}';
                    Scrolload.loading = $("<li style='width:100%; text-align: center; display: inline-block;'><i class='fa fa-spinner fa-spin fa-4x'></i></li>");
                </script>
            {% endblock right_content %}
        </div>
    {% endblock content_right %}
{% endblock content %}

