{% extends "::layout.html.twig" %}

{% block title %}{{ current_video.title }} - {{ course.title }} - 微述{% endblock %}

{% block head_style %}
    {% stylesheets
    '@AppWebBundle/Resources/public/css/common.css'
    '@AppWebBundle/Resources/public/css/font-awesome.css'
    '@AppWebBundle/Resources/public/css/layout.css'
    '@AppWebBundle/Resources/public/video-js/video-js.css'
    filter="css_url_rewrite"
    %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock head_style %}



{% block head_bottom %}
<style>
    html, body {
        width: 100%;
        height: 100%;
    }
</style>
{% endblock head_bottom %}

{% block body %}
<div class="coursebox f-cb" id="j-coursebox" style="right: 320px;">
    <div class="m-courselb">
        <div class="cl-bg"></div>
        <a hidefocus="true" id="j-back" class="cl-back" href="{{ path('course_show', {'slug': course.slug}) }}">&lt;返回</a>
        {% if prev_video|default(0) %}
        <a hidefocus="true" id="j-prev" title="{{ prev_video.title }}" class="cl-pre" href="{{ path('course_video_play', {'slug': course.slug, 'id': prev_video.number}) }}"></a>
        {% endif %}
        {% if next_video|default(0) %}
        <a hidefocus="true" id="j-next" title="{{ next_video.title }}" class="cl-next" href="{{ path('course_video_play', {'slug': course.slug, 'id': next_video.number}) }}"></a>
        {% endif %}

        <div id="course-learn-box" class="course-learn">
            <div class="m-courselearn">
                <p class="cl-title">
                    <b></b>
                    <span class="">{{ current_video.title }}</span>
                </p>
                <div class="learn-total" style="text-align: center;">
                    <video id="really-cool-video" class="video-js vjs-default-skin" controls
                           preload="auto" width="100%" height="100%" autoplay="autoplay" poster="{{ img_host ~ current_video.cover }}"
                           data-setup='{}'>
                        <source src="{{ video_host ~ current_video.source }}" type='video/mp4'>
                        <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a web browser
                            that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                    </video>
                </div>
                <input id="vid" type="hidden" key="vid" value="{{ current_video.id }}" />
                <div id="hideRightBtn" class="u-hiderightbtn" title="隐藏课程目录"></div>
            </div>
        </div>
    </div>
</div>

<div id="course-toolbar-box" class="g-sd2">
    <div class="courseintro row">
        <div class="img">
            <img src="{{ img_host ~ course.cover }}" height="65" width="100" />
        </div>
        <dl>
            <dt>{{ course.title|length > 10 ? course.title[:10] ~ '...' : course.title }}</dt>
            <dd><a href="#">收藏 ({{ random(20, 5000) }})</a><a href="#">分享</a></dd>
        </dl>
    </div>
    <div class="tabs" id="tabs">
        <ul class="row">
            <li class="cur"><span class="menu"></span></li>
            <li><span class="comt"></span></li>
        </ul>
    </div>
    <div class="tabarea" id="tabarea">
        <!--目录-->
        <div class="tabbox">
            <div class="bd j-bd"></div>
            <div class="chapterlistBox">
                <div class="chapterList">
                    <ul>
                    {% for chapter in chapters %}
                        <li class="first">
                            <p>
                                <b class="line"></b>{{ chapter.title }}
                            </p>
                            <ul>
                                {% for video in chapter.videos %}
                                    <li class="{% if video.id == current_video.id %}grayli{% endif %}">
                                        <a href="{{ path('course_video_play', {'slug': course.slug, 'id': video.number}) }}">
                                            <b class="cuicons whole"></b>
                                            <b class="cuicons arrow"></b>
                                            {{ video.title }}({{ video.duration|date('i:s') }})
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div><!--目录end-->

        <!--讨论-->
        <div class="tabbox" style="display:none;">
            <!--
            <div class="wtextarea">
                <form>
                    <textarea></textarea>
                    <a href="" class="wsubmit">发起讨论</a>
                    <input type="submit" style="display:none;" class="wsubmit" value="发起讨论"/>
                </form>
            </div>
            <div class="wchart">
                <div class="commone">
                    <div class="g-u img">
                        <a href=""><img src="temp/bigperson.gif" width="60" height="60"></a>
                    </div>
                    <dl class="g-u">
                        <dt><a href="">飞行的翅膀</a><span>1天前</span></dt>
                        <dd>相信写代码是一件让人兴奋并且是具有创造性的事情，是一种生活方式。</dd>
                    </dl>
                </div>
                <div class="commone">
                    <div class="g-u img">
                        <a href=""><img src="temp/bigperson.gif" width="60" height="60"></a>
                    </div>
                    <dl class="g-u">
                        <dt><a href="">飞行的翅膀</a><span>1天前</span></dt>
                        <dd>相信写代码是一件让人兴奋并且是具有创造性的事情，是一种生活方式。</dd>
                    </dl>
                </div>
                <div class="commone">
                    <div class="g-u img">
                        <a href=""><img src="temp/bigperson.gif" width="60" height="60"></a>
                    </div>
                    <dl class="g-u">
                        <dt><a href="">飞行的翅膀</a><span>1天前</span></dt>
                        <dd>相信写代码是一件让人兴奋并且是具有创造性的事情，是一种生活方式。</dd>
                    </dl>
                </div>
                <div class="commone">
                    <div class="g-u img">
                        <a href=""><img src="temp/bigperson.gif" width="60" height="60"></a>
                    </div>
                    <dl class="g-u">
                        <dt><a href="">飞行的翅膀</a><span>1天前</span></dt>
                        <dd>相信写代码是一件让人兴奋并且是具有创造性的事情，是一种生活方式。</dd>
                    </dl>
                </div>
                <div class="commone">
                    <div class="g-u img">
                        <a href=""><img src="temp/bigperson.gif" width="60" height="60"></a>
                    </div>
                    <dl class="g-u">
                        <dt><a href="">飞行的翅膀</a><span>1天前</span></dt>
                        <dd>相信写代码是一件让人兴奋并且是具有创造性的事情，是一种生活方式。</dd>
                    </dl>
                </div>
                <div style="height:40px"></div>
            </div>-->
        </div><!--讨论end-->

    </div>
</div>
    {% block foot_script_assetic %}
        {{ parent() }}
        {% javascripts output="js/video.js"
        '@AppWebBundle/Resources/public/video-js/video.dev.js'
        '@AppWebBundle/Resources/public/js/track.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock foot_script_assetic %}
    {% block body_end %}
        <script>
            //track play
            var played = function(){
                return {
                    key: 'played',
                    value: videojs('really-cool-video').currentTime()
                }
            }
            var duration = function(){
                return {
                    key: 'duration',
                    value: videojs('really-cool-video').duration()
                }
            }
            var url = '{{ path('history_add') }}';
            var els = ['#vid',played,duration]
            if(typeof videoTracker == 'function') {
                //start tracking after 1 seconds
                setTimeout(function(){
                    videoTracker(url,els);
                }, 1000);
            }
        </script>
    {% endblock body_end %}
{% endblock body %}