{% for course in courses %}
    <li next-url="{{ next_url|raw }}">
        <div class="img">
            <a href="{{ path('course_show', {'slug': course.slug}) }}">
                <img width="215" height="140" src="{{ img_host ~ course.cover }}" />
            </a>
        </div>
        <div class="curinfo">
            <p class="curname">{{ course.title|length > 10 ? course.title[:10] ~ '...' : course.title }}</p>
                            <span>
                                <a href=""><b class="icons guankan"></b>{{ random(100, 5000) }}</a>
                                <a href=""><b class="icons liuyan"></b>{{ random(10, 1000) }}</a>
                                <a href=""><b class="icons zan"></b>{{ random(100, 5000) }}</a>
                            </span>
            <div class="introduce">
                {{ course.description|length > 30 ? course.description[:30] ~ '...' : course.description }}
            </div>
        </div>
    </li>
{% endfor %}