{% extends "::layout.html.twig" %}

{% block title %}{{ course.title }} - Mooc课程 - 微述{% endblock %}
{% block body_end %}
    <script>
        $(document).ready(function(){
            var collect_url = "{{ path('collect_add') }}";

            $('#collect_btn').click(function(e){
                e.stopPropagation();
                var self = $(this);
                var data = {cid:self.attr('cid')};
                $.ajax({
                    url: collect_url,
                    type: 'POST',
                    data: data,
                    dataType: 'json',
                    complete: function(response){
                        if(response.status == 200) {
                            self.html('收藏成功');
                        }
                    }
                });
                return false;
            });
        });
    </script>
{% endblock body_end %}
{% block content %}
    <div class="curseinfotop">
        <h3><span>&lt;</span>{{ course.title }}</h3>
        <ul class="row">
            <li class="img"><img src="{{ img_host ~ current_video.cover|default(course.cover) }}" width="215" height="140"></li>
            <li class="topli1">
                <p><span><em>{{ random(100, 5000) }}</em></span><span>学习人数</span></p>
                <p style="border-left:1px solid #717E89;"><span class="time"><em>{{ total.hours }}</em>小时<em>{{ total.minutes }}</em>分</span><span>课程时长</span></p>
            </li>
            <li class="topli2"><a id="collect_btn" cid="{{ course.id }}" href="#">收藏</a></li>
            <li class="topli2"><a href="#">分享</a></li>
            <li class="topli3"><a href="{{ path('course_video_play', {'slug': course.slug, 'id': start_video.number}) }}">开始学习</a></li>
        </ul>
        {% if app.user %}
        <div class="progress">
            <span class="cuicons"></span>
            <span class="cuicons yellow" style="width:{{ percent }}%">
                <i class="cuicons notice">学习完成度<em>{{ percent }}%</em></i>
            </span>
        </div>
        {% endif %}
    </div>

    <div class="cursebottom">
        <div class="cmleft leftF">
            <div class="box">
                <h3><span class="cuicons">课程介绍</span></h3>
                <div class="info">
                    {{ course.description }}
                </div>
            </div>

            <div class="box">
                <h3><span class="cuicons">课程大纲</span></h3>
                <div class="catalogue" id="cataloguelist">
                    {% for chapter in chapters %}
                    <ul>
                        <li class="first">
                            <p class="{% if loop.index == 1 %}grayp{% endif %}"><span class="cuicons hide"></span>
                                <b class="cuicons gray"></b>
                                {{ chapter.title }}</p>
                            <ul>
                                {% for video in chapter.videos %}
                                <li>
                                    <a href="{{ path('course_video_play', {'slug': course.slug, 'id': video.number}) }}">
                                        <b class="cuicons whole"></b>
                                        <b class="cuicons arrow"></b>
                                        {{ video.title }}({{ video.duration|date('i:s') }})
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>

        <div class="cmright rightF">
            <div class="teacherbox">
                <h4><span>讲师介绍</span></h4>
                <dl>
                    <dt class="row">
                    <div class="img"><a href="#$"><img src="{% if start_video.speakerAvatar %}{{ img_host }}{% endif %}{{ start_video.speakerAvatar|default(default_avatar) }}" width="60" height="60"/></a></div>
                    <p><a href="#$" class="name">{{ start_video.speaker|default('微述')  }}<span class="cuicons teacher"></span></a></p>
                    <p>{{ start_video.speakerTitle }}</p>
                    </dt>
                    <dd>
                        {{ start_video.speakerIntro }}
                    </dd>
                </dl>
            </div>
        </div>

    </div>

{% endblock content %}