{% extends "AppMobileBundle::base.html.twig" %}

{% block header_inner_title %}{{ course.title }}{% endblock header_inner_title %}

{% block header_top %}
    <a href="{{ back_url }}" class="pull-left" data-transition="slide-out"><span class="icon icon-left-nav"></span></a>
{% endblock header_top %}

{% block content_inner %}
    <div class="slider">
        <div class="slide-group">
            <div class="slide">
                <img style="width: 100%;" src="{{ img_host ~ course.cover }}" alt="{{ course.title }}">
            </div>
        </div>
    </div>
    <ul class="table-view">
    {% for chapter in chapters %}
        <li class="table-view-divider">{{ chapter.title }}</li>
        {% for video in chapter.videos %}
        <li class="table-view-cell">
            <a data-transition="slide-in" class="navigate-right play" href="{{ path('app_mobile_home_play', {'slug': video.number, 'back_url': current_url}) }}">
                <div>{{ video.title }}</div>
            </a>
        </li>
        {% endfor %}
    {% endfor %}
    </ul>
{% endblock content_inner %}