{% extends "AppMobileBundle::base.html.twig" %}

{% block above_content %}
<div class="bar bar-standard bar-header-secondary">
    <div class="segmented-control">
        <a class="control-item active" href="#index">视频</a>
        <a class="control-item" href="#courses">课程</a>
        <a class="control-item" href="#categories">分类</a>
    </div>
</div>
{% endblock above_content %}

{% block content_inner %}
    <!--视频（索引页）-->
    <div id="index" class="control-content active">
        <div class="slider">
            <div class="slide-group">
                <div class="slide">
                    <img style="width: 100%;" src="{{ asset('bundles/appmobile/img/banner.png') }}" alt="精心制作的微视频课程">
                </div>
            </div>
        </div>

        <ul class="table-view" id="videos_promote">
            <li class="table-view-cell table-view-divider">特别推荐</li>
            {% for video in promote_videos %}
                <li class="table-view-cell media">
                    <a data-transition="slide-in" class="navigate-right play" href="{{ path('app_mobile_home_play', {'slug': video.number, 'back_url': app.request.getSchemeAndHttpHost()}) }}">
                        <img width="96" src="{{ img_host ~ video.cover }}" class="media-object pull-left">
                        <div class="media-body">
                            {{ video.title }}
                            <p>{{ video.description }}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!--课程-->
    <div id="courses" class="control-content">
        <ul class="table-view" id="course_list">
            <li class="table-view-cell table-view-divider">优选课程</li>
            {% for course in courses %}
                <li class="table-view-cell media">
                    <a data-transition="slide-in" class="navigate-right" href="{{ path('app_mobile_home_course',{'slug': course.slug,'back_url': app.request.getSchemeAndHttpHost()}) }}">
                        <img width="100%" src="{{ img_host ~ course.cover }}" class="media-object pull-left">
                        <div>{{ course.title }}</div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!--分类-->
    <div id="categories" class="control-content">
        <ul class="table-view" id="category_list">
            <li class="table-view-cell table-view-divider">热门分类</li>
            {% for category in categories %}
            <li class="table-view-cell media">
                <a data-ignore="push" class="navigate-right" href="{{ path('app_mobile_home_videos', {'slug': category.slug,'back_url': app.request.getSchemeAndHttpHost()}) }}">
                    <div>{{ category.name }}</div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content_inner %}
