{% extends "AppMobileBundle::base.html.twig" %}

{% block head_style %}
    {{ parent() }}
    {% stylesheets
    '@AppWebBundle/Resources/public/video-js/video-js.css'
    filter="css_url_rewrite"
    %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock head_style %}

{% block head_script %}
    {{ parent() }}
    {% javascripts
    '@AppWebBundle/Resources/public/video-js/video.dev.js'
    '@AppWebBundle/Resources/public/video-js/lang/zh.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock head_script %}
{% block head_bottom %}
    <script>
        videojs.options.flash.swf = "{{ asset('bundles/appweb/video-js/video-js.swf') }}";
    </script>
{% endblock head_bottom %}

{% block header_inner_title %}{{ video.title|length > 9 ? video.title[:9] ~ '...' : video.title }}{% endblock header_inner_title %}


{% block header_top %}
    <a href="{{ back_url }}" data-ignore="push" class="pull-left"><span class="icon icon-left-nav"></span></a>
{% endblock header_top %}


{% block content_inner %}
    <video id="really-cool-video" class="video-js vjs-default-skin" controls
           width="100%" height="100%" poster="{{ img_host ~ video.cover }}"
           data-setup='{}'>
        <source src="{{ video_host ~ video.source }}" type='video/mp4'>
    </video>
{% endblock content_inner %}