{% extends "AppMobileBundle::base.html.twig" %}

{% block header_top %}
    <a href="{{ back_url }}" data-ignore="push" class="pull-left"><span class="icon icon-left-nav"></span></a>
{% endblock header_top %}
{% block header_inner %}
    <h1 class="title">
        <a href="#catePopover">
            {{ title }}
            <span class="icon icon-caret"></span>
        </a>
    </h1>
{% endblock header_inner %}
{% block content_inner %}
    <ul class="table-view">
        {% for video in videos %}
            <li class="table-view-cell media">
                <a data-transition="slide-in" class="navigate-right play" href="{{ path('app_mobile_home_play', {'slug': video.number, 'back_url': current_url}) }}">
                    <img width="96" src="{{ img_host ~ video.cover }}" class="media-object pull-left">
                    <div class="media-body">
                        {{ video.title }}
                        <p>{{ video.description }}</p>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock content_inner %}

{% block after_content %}
    <div id="catePopover" class="popover">
        <header></header>
        <ul class="table-view">
            {% for category in categories %}
                <li class="table-view-cell">
                    <a data-ignore="push" href="{{ path('app_mobile_home_videos', {'slug': category.slug,'back_url': back_url}) }}">
                        <div>{{ category.name }}</div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock after_content %}