<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}微述 - 讲述生活百科，传承文化教育{% endblock title %}</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    {% block head_style %}
        {% stylesheets
        '@AppMobileBundle/Resources/public/css/ratchet.css'
        '@AppMobileBundle/Resources/public/css/app.css'
        filter="css_url_rewrite"
        %}
        <link href="{{ asset_url }}" rel="stylesheet">
        {% endstylesheets %}
    {% endblock head_style %}
    {% block head_script %}
        {% javascripts output="js/base.js"

        '@AppMobileBundle/Resources/public/js/ratchet.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

    {% endblock head_script %}
    {% block head_bottom %}
    {% endblock head_bottom %}
</head>
<body>
{% block header %}
<header class="bar bar-nav">
    {% block header_top %}
    {% endblock header_top %}
    {% block header_inner %}
    <h1 class="title">{% block header_inner_title %}微述{% endblock header_inner_title %}</h1>
    {% endblock header_inner %}
</header>
{% endblock header %}

{% block above_content %}
{% endblock above_content %}

{% block content %}
<div class="content">
    {% block content_inner %}
    {% endblock content_inner %}
</div>
{% endblock content %}

{% block after_content %}
{% endblock after_content %}
</body>
</html>
