<!DOCTYPE html>
{% block html_tag %}
<html lang="{{ app.request.locale }}">
{% endblock html_tag %}
<head>
    <meta charset="{{ _charset }}" />
    {% block head_style %}
        {% stylesheets
        '@AppWebBundle/Resources/public/css/common.css'
        '@AppWebBundle/Resources/public/css/sticky-footer.css'
        '@AppWebBundle/Resources/public/css/font-awesome.css'
        '@AppWebBundle/Resources/public/css/layout.css'
        filter="css_url_rewrite"
        %}
        <link href="{{ asset_url }}" rel="stylesheet">
        {% endstylesheets %}
    {% endblock head_style %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_meta %}
    <meta name="keyword" content="微视频,mooc制作,慕课建设,生活百科，社区教育运营推广，社区教育移动学习" >
    <meta name="description" content="建设生活百科类微视频，做老百姓最喜欢的学习平台。通过几分钟微视频将生活小常识、小窍门、实用技能等呈现给大家，为学习者提供优质亲民的在线学习体验！" >
    {% endblock head_meta %}

    {% block head_script %}
        {% javascripts output="js/jquery.js"
        '@AppWebBundle/Resources/public/components/jquery/dist/jquery.js'
        '@AppWebBundle/Resources/public/js/all.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock head_script %}

    <title>{% block title %}微述 - 讲述生活百科，传承文化教育{% endblock title %}</title>
    {% block head_bottom %}
    {% endblock head_bottom %}
</head>

<body>
{% block body_start %}
{% endblock body_start %}
{% block body %}
{% block header %}
<div class="headdiv">
    <div class="headtop">
        <div class="logo"><a class="logo" href="{{ path('app_web_home') }}"></a></div>
        <div class="nav">
            {{ knp_menu_render('main', {'currentClass': 'cur'}) }}
        </div>

        {% include 'AppWebBundle:_global:loginStatus.html.twig' %}

        {% include 'AppWebBundle:_global:searchForm.html.twig' %}

        <div class="clear"></div>
    </div>
</div>
{% endblock header %}

{% block above_main %}
{% endblock above_main %}

{% block main %}
<div class="{% block main_class %}main row{% endblock main_class %}">
    {% block content %}
    {% endblock content %}
</div>
{% endblock main %}

{% block footer %}
    {% include 'AppWebBundle:_global:footer.html.twig' %}
{% endblock footer %}

{% block foot_script %}
{% block foot_script_assetic %}
    {% javascripts %}
    {% endjavascripts %}
{% endblock foot_script_assetic %}
{% endblock foot_script %}

{% block body_end %}
{% endblock body_end %}
{% endblock body %}
</body>
</html>