{% extends "::layout.html.twig" %}
{% trans_default_domain 'AppWebBundle' %}
{% block title %}搜索结果 - 微述{% endblock %}

{% block content %}

    <div class="mainleft leftF">
        <ul class="treenav">
            <li class="{% if type == '' %}cur{% endif %}">
                <a href="{{ path('app_web_search', {'wd':word}) }}"><span>{{ total }}</span>{{ 'app.all'|trans }}</a>
            </li>
            <li class="{% if type == 'video' %}cur{% endif %}">
                <a href="{{ path('app_web_search', {'wd':word,'t':'video'}) }}"><span>{{ total_v }}</span>{{ 'app.video.label'|trans }}</a>
            </li>
            <li class="{% if type == 'course' %}cur{% endif %}">
                <a href="{{ path('app_web_search', {'wd':word,'t':'course'}) }}"><span>{{ total_c }}</span>{{ 'app.course.label'|trans }}</a>
            </li>
        </ul>
        <div class="hotsearch">
            <dl>
                <dt><span>热门搜索</span></dt>
                <dd>
                    <a href="{{ path('app_web_search', {'wd':'孕妇瑜伽'}) }}">孕妇瑜伽</a>
                    <a href="{{ path('app_web_search', {'wd':'魔术'}) }}">魔术</a>
                    <a href="{{ path('app_web_search', {'wd':'剪纸'}) }}">剪纸</a>
                    <a href="{{ path('app_web_search', {'wd':'手工'}) }}">手工</a>
                    <a href="{{ path('app_web_search', {'wd':'日语基础'}) }}">日语基础</a>
                    <a href="{{ path('app_web_search', {'wd':'拉丁舞'}) }}">拉丁舞</a>
                </dd>
            </dl>
        </div>
    </div>

    <div class="mainright rightF">
        {% if type == '' or type == 'video' %}
            <div class="contentbox">
                <p class="tishi">{{ 'app.video.search'|trans({'%word%':'<em>'~word~'</em>'})|raw }}</p>
                <div class="list">
                    <ul>
                        {% for video in videos if video %}
                            <li>
                                <div class="g-u img"><a href="{{ path('video_show', {'slug': video.slug|default(video.number)}) }}"><img src="{{ img_host ~ video.cover }}" width="270" height="160"></a></div>
                                <dl class="g-u info">
                                    <dt>
                                        <a href="{{ path('video_show', {'slug': video.slug|default(video.number)}) }}">{{ video.title|replace({(word):'<em class="red">'~word~'</em>'})|raw }}</a>
                                    </dt>
                                    <dd>视频简介：{{ video.description|replace({(word):'<em class="red">'~word~'</em>'})|raw }}</dd>
                                </dl>
                            </li>
                        {% else %}
                            <li>{{ 'app.video.notfound'|trans }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        {% if type == '' or type == 'course' %}
            <div class="contentbox">
                <p class="tishi">{{ 'app.course.search'|trans({'%word%':'<em>'~word~'</em>'})|raw }}</p>
                <div class="list">
                    <ul>
                        {% for course in courses if course %}
                            <li>
                                <div class="g-u img"><a href="{{ path('course_show', {'slug': course.slug}) }}"><img src="{{ img_host ~ course.cover }}" width="270" height="160"></a></div>
                                <dl class="g-u info">
                                    <dt>
                                        <a href="{{ path('course_show', {'slug': course.slug}) }}">
                                            {{ course.title|replace({(word):'<em class="red">'~word~'</em>'})|raw }}
                                        </a>
                                    </dt>
                                    <dd>
                                        课程简介：{{ course.description|replace({(word):'<em class="red">'~word~'</em>'})|raw }}
                                    </dd>
                                </dl>
                            </li>
                        {% else %}
                            <li>
                                {{ 'app.course.notfound'|trans }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}