{% extends "::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}激活账户 - 微述{% endblock %}

{% block head_style %}
    {{ parent() }}
    {% stylesheets
    '@AppWebBundle/Resources/public/css/myroom.css'
    filter="css_url_rewrite"
    %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock head_style %}

{% block content %}
    <div class="register">
        <div class="rleft g-u">
            <dl>
                <dt>注册邮件已发出，请您登录邮箱进行激活！</dt>
                <dd>登录邮箱<em>{{ user.email }}</em>按邮件提示激活帐号，完成后您即可使用该账号登录学习空间。 </dd>
            </dl>
        </div>
        <div class="rright g-u">
            <p>没有收到激活邮件？</p>
            <ul>
                <li>· 您可以在广告邮件和垃圾邮件中找找看</li>
                <li>· 多次无法激活帐号请咨询客服：support@veishu.com</li>
            </ul>
        </div>
    </div>
{% endblock content %}


