{% extends "::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}注册成功 - 微述{% endblock %}

{% block head_style %}
    {{ parent() }}
    {% stylesheets
    '@AppWebBundle/Resources/public/css/myroom.css'
    filter="css_url_rewrite"
    %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock head_style %}

{% block content %}
<div class="registersuc">
    <p><span class="icons">恭喜您已成功激活帐号</span><a href="/" class="icons hrefbtn">去学习吧</a></p>
    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>{% endif %}
    {% endif %}
</div>
{% endblock content %}