{% extends "::layout.html.twig" %}
{% block title %}注册 - 微述{% endblock %}

{% block head_style %}
    {{ parent() }}
    {% stylesheets
    '@AppWebBundle/Resources/public/css/myroom.css'
    filter="css_url_rewrite"
    %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock head_style %}

{% block content %}
    {% include "AppUserBundle:Registration:register_content.html.twig" %}
{% endblock content %}
