{% trans_default_domain 'FOSUserBundle' %}
<style>
.error li{
    color: red!important;
}

</style>
<h3 class="title"><span>用户注册</span></h3>
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form-signin" role="form">
    {{ form_row(form._token) }}

    <ul class="login">
        <li>
            <i class="icons user"></i>
            {{ form_widget(form.username) }}
            <span class="error">
                {{ form_errors(form.username) }}
            </span>
        </li>
        <li>
            <i class="icons user"></i>
            {{ form_widget(form.nickname) }}
            <span class="error">
                {{ form_errors(form.nickname) }}
            </span>
        </li>
        <li>
            <i class="icons email"></i>
            {{ form_widget(form.email) }}
            <span class="error">
                {{ form_errors(form.email) }}
            </span>
        </li>
        <li>
            {{ form_widget(form.plainPassword) }}
            <span class="error">
                {{ form_errors(form.plainPassword) }}
            </span>
        </li>
        <li style="padding:5px 0;">
            <input id="remenberpw" type="checkbox" class="remenberpw" checked="checked"/>
            <label for="remenberpw" class="classname g-u">我已经阅读并同意<a target="_blank" href="{{ path('page_legal') }}">《微述用户服务协议》</a></label>
        </li>
        <li><input class="icons submit" type="submit" value="注册"/></li>
    </ul>
</form>
