{% extends "AppAdminBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'change_password.submit'|trans() }} - 微述{% endblock %}
{% block head_style %}
    {{ parent() }}
    {% stylesheets
    '@AppAdminBundle/Resources/public/css/dashboard.css'
    filter="css_url_rewrite"
    %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock head_style %}

{% block content_content %}
    <ul class="nav nav-sidebar">
        <li><a href="#">用户信息</a></li>
        <li class="active"><a href="{{ path('app_admin_changepassword_changepassword') }}">{{ 'change_password.submit'|trans() }}</a></li>
    </ul>
{% endblock content_content %}

{% block content_sidebar %}
    <h1 class="page-header">{{ 'change_password.submit'|trans() }}</h1>

    <div class="row">
        <form action="{{ path('app_admin_changepassword_changepassword') }}" {{ form_enctype(form) }} method="POST" id="password_form" class="form-password" role="form">
            {{ form_widget(form) }}
            <button class="btn btn-primary" type="submit">{{ 'change_password.submit'|trans }}</button>
        </form>
    </div>
{% endblock content_sidebar %}

