@charset "utf-8";
/* CSS Document */

body,h1,h2,h3,h4,h5,h6,hr,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,p{margin: 0;padding: 0;}
body,button,input,select,textarea {font:14px/1.5 'Microsoft Yahei',arial, '宋体';color:#333333; border:none;outline:medium;}
body{background:#EDEFF0;}
table {border-collapse:collapse;border-spacing:0;}
img {border:0;}
h1,h2,h3,h4,h5,h6 {font-size:100%;}
address,cite,dfn,var {font-style: normal;}
code,kbd,pre,samp {font-family: courier new, courier, monospace;}
ul{list-style:none;}
a {text-decoration:none;vertical-align:baseline; zoom:1;color:#333333; outline:none;}
a:hover,a.glink:hover,a.blink:hover{ text-decoration:underline;outline:none;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
legend {color:#000;}
img {border:0;}
button,input,select,textarea {font-size:100%;}

.clearfix{zoom:1; overflow:hidden;}
.clear{ clear:both; font-size:0; height:0; line-height:0;overflow:hidden}
a img{ border:0;}
.leftF{ float:left;}
.rightF{ float:right;}
.row {zoom: 1;}
.row:after {content: "";display: table;clear: both;}
.g-u{ display:inline-block; *display:inline; zoom:1;vertical-align: top;}

.icons{background:url("../images/icons.png") no-repeat; display:inline-block; width:20px; height:20px; overflow:hidden;}

.headdiv{ background:url("../images/top.png") repeat-x; height:70px;position: relative;z-index: 999;}
.headtop{ width:1000px; margin:0 auto; background-color:#122A42;}
.headtop a{text-decoration:none;}
.headtop .logo{ width:102px; margin-top:4px; float:left;}
.headtop .logo a{ width:90px; height:44px; display:block; background:url("../images/logo.png") no-repeat;}
.headtop .nav{ width:350px; margin-left: 30px;float:left;}
.headtop .nav li{ width:102px; height:100%; float:left; font-size:18px;}
.headtop .nav li a{ width:102px; text-align:center; height:100%; line-height:60px; display:block; color:#717E89;-moz-transition: all 0.5s ease-in;
-webkit-transition: all 0.5s ease-in;
-o-transition: all 0.5s ease-in;
transition: all 0.5s ease-in;}
.headtop .nav li.cur,.headtop .nav li a:hover{ background:#0D1D2E;}
.headtop .nav li.cur a{ color:#fff; font-weight:bold;}

.userdiv{ background:#6699FF; height:160px; overflow:hidden;position: relative;margin-top: -10px;}

.bigperson{ width:1000px; margin:23px auto 0 auto; }
.bigperson .touxiang{ width:125px; text-align:center; vertical-align:middle; margin-top:5px;display:inline-block; *display:inline; zoom:1;}
.bigperson .touxiang img{ width:100px; height:100px; border:4px solid #fff; border-radius:50%;}
.bigperson .personname{ display:inline-block; *display:inline; zoom:1; vertical-align:middle; font-size:14px;margin-left: 20px; word-break:break-all;color:#fff;}
.bigperson .personname .top{ font-size:24px; margin-bottom:10px;}
.bigperson .personname a{ color:#fff;}
.set{ display:inline-block; cursor:pointer; font-size:12px; color:#999999; line-height:22px; background:url(../images/roomicon.png) 0 -41px no-repeat; width:44px; height:22px; text-align:center; color:#FFF; position:absolute; right:0; top:38px;}

.enters{ width:180px; color:#fff; margin-left:60px;}
.enters a{ color:#fff;}
.enters .message{ width:60px; text-align:center; height:60px; line-height:60px;}
.enters .message a{ display:block; width:60px; height:60px;}
.enters .message a:hover{ background:#0D1D2E; }
.enters .message .mess{ width:22px; height:22px; margin-top:17px;}
.enters .experience{ font-size:12px;text-align:center; width:60px; height:60px;}
.enters .experience a{ display:block; width:60px; height:47px; padding-top:13px;color:#717E89;}
.enters .experience a:hover{ background:#0D1D2E;}
.enters .experience em{ font-style:normal; display:block; text-align:center;}
.enters .experience a:hover em{color:#fff;}
.enters .user{ position:relative; width:60px;}
.enters .user .userminpic{ width:60px; height:60px; text-align:center;}
.enters .user .userminpic img{ display:inline-block; width:30px; height:30px; margin-top:15px; border-radius:50%;}
.enters .user ul{ position:absolute; right:0px; top:60px; display:none;}
.enters .user:hover{background-color:#0D1D2E;}
.enters .user:hover ul{ display:block;}
.enters .user ul{background-color:#0D1D2E;}
.enters .user ul li{ width:120px; height:40px; line-height:40px;background-color:#0D1D2E;}
.enters .user ul li a{ width:100px; height:40px; padding-left:20px; line-height:40px;display:block; color:#717E89; }
.enters .user ul li a:hover{ color:#fff; filter:alpha(opacity=100);opacity:1; background:#0A1725;}
.enters .unlogin{ text-align:right; height:60px; line-height:60px;}

.headtop .unlogin{ height:60px; line-height:60px; margin-left:30px;}
.headtop .unlogin span{color:#717E89; margin:0 10px}
.headtop .unlogin a{color:#717E89; }
.headtop .unlogin a:hover{color:#fff;}

.search{position:relative;}
.search p.searchp .searchinput{ border:1px solid #a0a0a0; background:#324456;color:#717E89; height:30px; width:170px; padding-left:30px; font-size:12px; line-height:28px;}
.search p.searchp{ position:relative; margin-top:13px;}
.search p.searchp i.sech{background-position:-0px -30px;position:absolute;top:7px; left:7px; z-index:10;}
.search p.searchp ul{ background:#fff;}
.search p.searchp2 .searchinput{border:1px solid #000; background:#fff;; color:#333;}
.search p.searchp2 i.sech{background-position:-27px -30px;}
.search .searchlist{position:absolute;top:45px;*top:46px; left:1px; background:#fff; width:200px; line-height:40px; display:none;}
.search .searchlist p{ font-size:12px;padding-left:10px;color:#666;}
.search .searchlist li{ font-size:12px;}
.search .searchlist li a{ display:block; padding-left:20px; color:#666;}
.search .searchlist li a:hover{ text-decoration:none; background:#eeeeee;}

.foot{ background:#173452; padding:25px 0; font-size:12px; line-height:24px;}
.footinner{ width:980px; margin:0 auto;}
.footinner .left{ width:110px;}
.footinner .left .footlogo{background: url(../images/footlogo2.png) no-repeat; width:105px; height:38px; display:block; margin-top:10px;}
.footinner .midd{ width:460px; padding-left:30px; line-height:30px;  filter:alpha(opacity=50);opacity:0.5;border-right:1px solid #fff;}
.footinner .midd p{ color:#fff;}
.footinner .midd p a{ color:#fff;}
.footinner .midd p span{ margin:0 10px;}
.footinner .right{ width:300px; padding-left:30px; filter:alpha(opacity=50);opacity:0.5;}
.footinner .right p{ line-height:34px; color:#fff; padding-top:15px;}
.footinner .right p span{ margin-right:30px;}
.footinner .right p a{ width:34px; height:34px; display:inline-block; margin-right:10px; vertical-align:middle;}
.footinner .right .xinlang{background: url(../images/shareicon.png) no-repeat;}
.footinner .right .weixin{background: url(../images/shareicon.png) -38px 0 no-repeat;}


.page{text-align:right; margin-top:20px; margin-bottom: 30px; border-top:1px solid #E6E6E6; padding-top:25px;}
.page a,.page b{display:inline-block; vertical-align:top; height:19px; line-height:19px; border:1px solid #f0f0f0; background-color:#fff; margin-right:5px; padding:3px 10px; border-radius:2px;}
.page span{display:inline-block; vertical-align:top; height:19px; line-height:19px; color:#999; margin-right:5px;  padding:3px 10px; border:1px solid #f0f0f0;background-color:#fff; border-radius:2px;}
.page span.prev,.page span.next{height:19px; line-height:19px;}
.page .icons{float:none; width:5px; border:0px; padding:0px; line-height:0px; margin:0px; *vertical-align:middle;}
.page .next .icons{margin-left:8px;}
.page a:hover{ border:1px solid #f0f0f0; background-color:#FFA41A; color:#fff; text-decoration:none;}
.page .cur{border:1px solid #FFA41A; background-color:#FFA41A; color:#fff;}
.page input{border:1px solid #f0f0f0; height:19px; line-height:19px; text-align:center; width:32px; *position:relative; *margin-top:-1px; _margin-top:-2px;}
.page input.btn{height:21px; margin-left:5px; cursor:pointer; background-color:transparent;}
.page .inputBtnGo{background: url(../images/gotoBtn.gif) no-repeat;width: 31px;height: 19px; border:0px; cursor:pointer;}

.videoname{ line-height:60px; color:#fff; font-size:18px;}
.videoname a{ color:#717E89;}
.videoname span{ margin:0 30px 0 10px;}
.videoname .functopa{ display:inline-block; width:70px; height:28px; line-height:26px; font-size:14px; text-align:center; color:#fafafa; background:url("../images/curse.png") -373px -99px no-repeat; margin-right:10px;}


form.cmxform label.error, label.error {
    /* remove the next line when you have trouble in IE6 with labels in list */
    color: red;
    font-style: italic
}
div.error { display: none; }
input.checkbox { border: none }
input:focus { border: 1px dotted black; }
input.error { border: 1px dotted red; }
form.cmxform .gray * { color: gray; }

