@charset "utf-8";
/* CSS Document */
.index{ background:url(../images/indexbg.png) center top no-repeat #0E1F30; position:relative; margin-top: -90px; padding-top:260px;}
.classify ul{ width:980px; margin:0 auto;height:440px;}
.classify ul li{ width:240px; height:160px; float:left; margin:0 5px 5px 0px;}
.classify ul li dt{ font-size:24px; padding-top:90px; text-align:center;}
.classify ul li dd{ font-size:12px; padding-top:15px; display:none;}
.classify ul li a{ display:block; width:189px; height:100%; color:#fff; padding:0 25px}
.classify ul li a:hover{ text-decoration:none;}
.classify ul .c1{ background-color:#AE62FA;}
.classify ul a.c1:hover{ background-color:#AE62FA;}
.classify ul .c2{ background-color:#DD3D23;}
.classify ul a.c2:hover{ background-color:#DD3D23;}
.classify ul .c3{ background-color:#CEAD10;}
.classify ul a.c3:hover{ background-color:#CEAD10;}
.classify ul .c4{ background-color:#63C3D3;}
.classify ul a.c4:hover{ background-color:#63C3D3;}
.classify ul .c5{ background-color:#04AEDA;}
.classify ul a.c5:hover{ background-color:#04AEDA;}
.classify ul .c6{ background-color:#54C104;}
.classify ul a.c6:hover{ background-color:#54C104;}
.classify ul .c7{ background-color:#CB33BC;}
.classify ul a.c7:hover{ background-color:#CB33BC;}
.classify ul .c8{ background-color:#B13A3A;}
.classify ul a.c8:hover{ background-color:#B13A3A;}
.classify ul li.dbli{ width:490px;}
.classify ul li.dbli p{ margin-top:120px; width:100%; height:43px;background:url(../images/weishut.png) right center no-repeat; text-indent:-99999px; overflow:hidden;}
.classify ul li.dbli a.enterbtn{  margin-top:29px;width:222px; height:53px;background:url(../images/ibtn.png) center center no-repeat; float:right; padding:0px;}
.classify ul li .weishu{background:url(../images/weishu.png) center center no-repeat; width:373px; height:140px; margin-top:50px; display:block;}

.colorb{background:url(../images/colorbg.gif) bottom left repeat-x;}
.classbox{ background-color: #F3F3F3; height:350px;}
.classbox .innerbox{ margin:0 auto; width:980px; position:relative;}
.classbox .innerbox .text{ width:570px; top:50px; opacity:0; left:0px; position:absolute;}
.classbox .innerbox h3{ font-size:30px; color:#000; padding-top:108px;}
.classbox .innerbox p{ color:#666; font-size:14px; margin-top:20px;}
.classbox .innerbox .pic{height:350px; top:50px; opacity:0; right:0px; position:absolute;}
.classbox .innerbox .pic1{ background:url(../images/pic1.png) left center no-repeat; width:260px;}
.classbox .innerbox .pic2{ background:url(../images/pic2.png) left center no-repeat; width:326px;}
.classbox .innerbox .pic3{ background:url(../images/pic3.png) left center no-repeat; width:287px;}

.slidebox{background:url(../images/slidebox.png) bottom left repeat-x #fff;}
.slidebox .slide{background:url(../images/slidebg.png) bottom left no-repeat; width:1000px; margin:0 auto; overflow:hidden;}
.slidebox .stitle{background:url(../images/title.gif) bottom center no-repeat; height:22px; margin:50px 0 35px 0;}
#focuseImg{ overflow:hidden; position:relative; }
.scroll{width:900px; margin:0 auto; overflow:hidden; position:relative;}
.srollList{ height:248px;}
.scroll ul,.scroll ul li{ list-style:none; padding:0; margin:0; }
.scroll ul{ float:left;margin-top: 40px;}
.scroll ul li { width:225px; float:left; text-align:center; color:#CCCCCC; font-size:14px; font-weight:bold;}
.scroll ul li a{color:#CCCCCC; font-size:14px; font-weight:bold; display:block; width:100%; height:100%; position:relative; cursor:pointer; -moz-transition: all 0.5s ease-in;
 -webkit-transition: all 0.5s ease-in;
 -o-transition: all 0.5s ease-in;
 transition: all 0.5s ease-in;}
.scroll ul li img{ display:block; border:5px solid #fff; margin:0 auto; margin-bottom:15px;}
.slide .left{ width:55px; height:75px; cursor:pointer; position:absolute; bottom:40px;left:0px;}
.slide .right{ width:55px; height:75px; cursor:pointer; position:absolute; bottom:40px;right:0px;}
.scroll ul li i {display: none;position: absolute;bottom: 5px;margin-left: -10px;left:40px; top:142px; width:165px;height:55px;
 background:url(../images/lihover.png) top center no-repeat;
}
.scroll ul li i em {border: 10px solid transparent;border-top: 10px solid #FFBB02;position: absolute;top: 0;left:72px;width: 0;height: 0;}
.scroll ul li a:hover{top:-30px;}
.scroll ul li a:hover img{border:5px solid #FFBB02; margin-bottom:45px;}
.scroll ul li a:hover i{ display:block;}

.newsbox{ margin-bottom:40px;}
.newsbox .img{ width:185px; height:130px; margin-right:30px; float:left;}
.newsbox .img img{ width:185px; height:130px;}
.newsbox .info{ width:490px;}
.newsbox dl dt{ color:#000; font-size:18px; margin-bottom:10px;}
.newsbox dl dt a{ color:#000;}
.newsbox dl dt .rightF a{ color:#333;}
.newsbox dl dd{ font-size:12px; line-height:20px; word-break:break-all; color:#666;}
.newsbox dl dd.time{ margin-top:10px;}
.newsbox dl dd.time a{ padding:1px 10px; background:#999999; color:#fff;}
.newsbox dl dd.time a:hover{ background:#FF9900; text-decoration:none;}

.weishubox{ background:#fff; padding:100px 0;}
.weishunews{ width:980px; margin:0 auto;}
.weishunews h3{border-bottom:1px solid #d0d0d0; height:41px; font-weight:normal; margin-bottom:20px;}
.weishunews h3 span{border-bottom:2px solid #FF9900; float:left; text-align:center; height:40px; line-height:40px; font-size:22px;}
.weishun{ width:600px;}
.weishuc{ width:340px;}
.wcoment .commone{ padding-bottom:15px;}
.wcoment .commone .img{ width:65px; margin-right:5px;}
.wcoment .commone .img img{ display:block; height:65px; width:65px; border-radius:50%;}
.wcoment .commone dl{ width:243px;}
.wcoment .commone dl dt{ font-size:12px; font-weight:bold;}
.wcoment .commone dl dt a{ color:#000;}
.wcoment .commone dl dt span{ color:#999; margin-left:5px; font-weight:normal;}
.wcoment .commone dl dd{ color:#666; font-size:12px; margin-top:5px;}


.infoottop{ background:#F6F6F6; height:120px;}
.infoottop ul{ width:980px; margin:0 auto;}
.infoottop ul li a.home{ background: url(../images/home.png) center 40px no-repeat;}
.infoottop ul li{ width:80px; text-align:center;  line-height:90px;  height:120px;float:left; border-left:1px solid #EAEAEA;}
.infoottop ul li a{ display:block; width:100%; height:100%; font-size:12px; color:#666;}
.infoottop ul li.last{ width:100px; padding-left:60px;}
.infoottop ul li.last a{ width:34px; height:34px; display:inline-block; margin-right:10px; vertical-align:middle;}
.infoottop ul li.last .xinlang{background: url(../images/shareicon.png) no-repeat;}
.infoottop ul li.last .weixin{background: url(../images/shareicon.png) -38px 0 no-repeat;}
.infootb{background:#173452; height:77px; line-height:77px;}
.infootb p{ color:#748597; width:980px; text-align:center; margin:0 auto; font-size:12px;}
.infootb p span{ margin:0 10px;}

.backtotop{ width:50px; height:50px; text-indent:-9999px; overflow:hidden; position:fixed; bottom:120px; left:50%; margin:0px 0 0 500px; background: url(../images/gotop.png) no-repeat; cursor:pointer; display:none;}
