@charset "utf-8";
/* CSS Document */

.main{ width:980px; margin:30px auto 100px auto;}
.main .mainleft{ width:215px;}
.main .mainright{ width:740px;}
.main .mainright h3{ font-weight:normal;}
.red{ font-style:normal; color:#f00;}
.guankan{background-position:-281px -3px; width:20px; height:13px; margin-right:2px;display:inline-block; }
.liuyan{background-position:-281px -29px; width:20px; height:16px; margin-right:2px;display:inline-block; }
.zan{background-position:-281px -55px; width:20px; height:14px; margin-right:2px;display:inline-block; }

/*以下是列表页样式*/
.treenav{background: #fff; border-bottom:1px solid #D0D0D0; margin-bottom:20px;}
.treenav li{ height:40px; line-height:40px; border-bottom:1px dashed #D0D0D0;}
.treenav li.last{border-bottom:none;}
.treenav li a{ display:block; padding-left:18px; color:#333; }
.treenav li.cur a,.treenav li a:hover{ border-left:3px solid #FF6600;padding-left:15px; font-weight:bold; text-decoration:none;}
.treenav li span{ float:right; color:#999; margin-right:20px; font-weight:normal;}

.hotsearch{background: #fff; padding-top:10px; border-bottom:1px solid #D0D0D0; }
.hotsearch dl dt{border-bottom:1px solid #d0d0d0; height:42px; font-weight:normal; padding:0 20px;}
.hotsearch dl dt span{border-bottom:3px solid #FF9900; float:left; text-align:center; height:40px; line-height:40px; font-size:18px;}
.hotsearch dl dd{ padding:10px 20px 40px 20px; line-height:30px;}
.hotsearch dl dd a{ display:inline-block; margin-right:20px;}

.contentbox{background: #fff; padding:20px; border-bottom:2px solid #D0D0D0; margin-bottom:20px;}
.contentbox p.tishi{ color:#999; border-bottom:1px solid #D0D0D0; padding-bottom:15px; margin-bottom:20px;}
.contentbox p.tishi em{ color:#f00; font-weight:bold; font-style:normal;}
.contentbox li{ margin-bottom:30px;}
.contentbox li .img{ width:184px; height:120px; margin-right:20px; float:left;}
.contentbox li .img img{ width:184px; height:120px;}
.contentbox li .info{ width:490px;}
.contentbox li dl dt{ color:#000; font-size:18px; margin-bottom:10px;}
.contentbox li dl dt a{ color:#000;}
.contentbox li dl dt .rightF a{ color:#333;}
.contentbox li dl dd{ font-size:12px; line-height:27px; word-break:break-all; min-height: 83px;}
.contentbox li.border{ border-bottom:1px dotted #D0D0D0; padding-bottom:20px; margin-bottom:20px;}
.contentbox li.last{margin-bottom:20px;}
.contentbox li dt span{ font-size:10px; line-height:15px; margin-top:8px; color:#333;}
.contentbox li dt span a{ display:inline-block; margin-left:10px;}
.contentbox li dt span a:hover{ text-decoration:none;}
.contentbox li dt span b{ float:left;}
.contentbox .more{ text-align:center; border-top:1px solid #E6E6E6; padding-top:15px;}

.title{border-bottom:1px solid #d0d0d0; height:42px; font-weight:normal; margin-bottom:20px;}
.title span{border-bottom:3px solid #FF9900; float:left; text-align:center; height:40px; line-height:40px; font-size:18px;}

.pagebox{background: #fff; padding:20px; border-bottom:2px solid #D0D0D0; margin-bottom:20px;}
.pagebox h3{ font-size:22px; color:#000;}
.pagebox h3 a{ color:#999; font-size:12px; float:right; margin-top:17px;}
.pagebox p.info{ font-size:12px; padding:15px 0; border-bottom:1px dashed #D0D0D0; color:#333;}
.pagebox p.info span{ color:#999; margin:0 10px;}
.pagebox p.info a{ font-style:normal; margin-right:5px;}
.pagebox .newspage{ color:#000;}
.pagebox .newspage p{ margin-top:20px; text-indent:2em; line-height:28px;}
.pagebox .resource{ font-size:12px; padding:15px 0; border-top:1px dashed #D0D0D0; color:#333; margin-top:20px; color:#333;}
.pagebox .resource a{ color:#333;}

.classylist{border-bottom:1px solid #d0d0d0; padding-bottom:15px;}
.classylist li{ display:inline-block; *display:inline; zoom:1;}
.classylist a{ padding:4px 13px; display:inline-block; background: url(../images/tagbg.png) repeat-x; margin-right:10px; color:#fafafa; overflow:hidden;}
.classylist a:hover,.classylist .cur a{ background-position:0px -32px; text-decoration:none; cursor:pointer; }
.videolist{ overflow:hidden;}
.videolist ul.curseul{ width:1016px; padding-bottom:40px;}
.videolist .curseul li{ background:#fff; border-bottom:1px solid #D0D0D0; width:215px; float:left; display:inline-block; margin-right:39px; margin-top:40px;}
.videolist .curseul li .curinfo{ padding:10px 0 10px 10px; font-size:16px;}
.videolist .curseul li .curinfo { line-height:20px;}
.videolist .curseul li .curinfo .curname{ margin-bottom:10px;}
.videolist .curseul li .curinfo span {font-size: 10px;line-height: 15px;margin-top: 8px;color: #333;}
.videolist .curseul li .curinfo span a {display:inline-block; margin-right:10px;}
.videolist .curseul li .curinfo span a:hover{ text-decoration:none;}
.videolist .curseul li .curinfo span b {float: left;}
.videolist .curseul li .curinfo .caozuo a{ font-size:12px; color:#999;line-height: 15px; display:block;}
.videolist .curseul li .introduce{ display:none; font-size:12px; color:#fff; padding:15px; }
.videolist .curseul li.cur{ background:#ff6600;}
.videolist .curseul li.cur .curinfo{ display:none;}
.videolist .curseul li.cur .introduce{ display:block; font-size:12px; color:#fff; padding:15px;}
.videolist ul.othercur{ width:790px;}
.videolist ul.othercur li{ margin-right:48px;}

.curseinfotop h3{ font-size:20px; font-weight:normal; margin-bottom:20px;}
.curseinfotop h3 span{ margin-right:20px;}
.curseinfotop ul li{ height:140px; float:left;}
.curseinfotop ul li a:hover{ text-decoration:none;}
.curseinfotop ul li.img{ width:215px;}
.curseinfotop ul li.img img{ display:block; width:215px;}
.curseinfotop ul li.topli1{ width:285px; background:#1C3042; border-right:1px solid #1C3042;}
.curseinfotop ul li.topli1 p{ margin-top:23px; color:#717E89; width:142px; float:left; text-align:center; padding:15px 0;}
.curseinfotop ul li.topli1 p span{ display:block; margin-bottom:5px;}
.curseinfotop ul li.topli1 p em{ font-size:24px; color:#fff; font-style:normal; }
.curseinfotop ul li.topli1 p .time { color:#D5D9DC;}
.curseinfotop ul li.topli2{ background:#434F54; width:138px; border-right:1px solid #1C3042;text-align:center; line-height:140px;}
.curseinfotop ul li.topli2 a{ display:block; font-size:20px; color:#fff;}
.curseinfotop ul li.topli3{ background:#FF8000; width:200px; text-align:center; line-height:140px;}
.curseinfotop ul li.topli3 a{ display:block; font-size:24px; color:#fff;}


/*以下是详情页样式*/
.cuicons{background:url("../images/curse.png") no-repeat; display:inline-block; width:13px; height:13px; vertical-align:top;}
.show{background-position:-411px -73px; margin-right:10px; margin-top:14px; float:right;}
.hide{background-position:-429px -73px; margin-right:10px; margin-top:14px; float:right;}
.gray{background-position:-289px -71px; width:20px; height:20px; margin:10px 10px 0 10px;}
.greenm{background-position:-319px -71px; width:20px; height:20px; margin:10px 10px 0 10px;}
.whole{background-position:-390px -73px; margin-right:10px; margin-top:12px;float:right;}
.no{background-position:-351px -73px;  margin-right:10px; margin-top:12px;float:right;}
.half{background-position:-370px -73px;  margin-right:10px; margin-top:12px;float:right;}
.outline{background-position:-462px -99px;  margin-right:10px; margin-top:12px;float:right;}
.arrow{background-position:-266px -71px; margin:14px 10px 0 10px;}
.teacher{background-position:-233px -71px; margin:5px 10px 0 10px;width:22px; height:22px;}

.curseinfotop .progress{width:100%;position: relative;height: 30px; margin-top:20px;}
.curseinfotop .progress span{display: block;width: 100%;height: 30px;line-height: 16px;border-radius: 3px;position: absolute;bottom: 0;left: 0;background-position:0px 0px;}
.curseinfotop .progress .yellow{z-index: 9;background-position:0px -34px; position:relative;}
.curseinfotop .progress .notice{ width:84px; height:70px;background-position:0px -70px;  position:absolute; right:-40px; top:-50px; font-style:normal; color:#fff; text-align:center; line-height:18px; font-size:12px; padding-top:10px;}
.curseinfotop .progress .notice em{ font-size:16px; font-style:normal; display:block;}

.cursebottom{ margin-top:40px;}
.cmleft{ width:660px;}
.cmright{ width:300px;}

.cmleft .box{background: #fff; padding:20px 0; border-bottom:1px solid #D0D0D0; margin-bottom:20px;}
.cmleft .box h3 span{background-position:-91px -71px; width:110px; height:38px; line-height:34px; padding-left:20px; color:#fff; font-size:18px; font-weight:normal;}
.cmleft .box .info{ padding:15px 20px 0 20px; line-height:24px;}
.cmleft .box .info p{ text-indent:2em;}

.catalogue{ padding:20px;}
.catalogue .first{ margin-bottom:20px;}
.catalogue .first p{ height:40px; line-height:40px; background:#F2F7FA; font-size:16px;}
.catalogue .first p.grayp{ background:#D3DCE0;}
.catalogue .first ul{ padding-left:30px;}
.catalogue .first ul li{ line-height:40px; line-height:40px;}
.catalogue .first ul li a{ display:block;}
.catalogue .first ul li span{ margin-right:10px; color:#74A70A; font-size:12px;}

.comment{}
.comment .comm_top{ margin:15px 20px 20px 20px;}
.comment .comm_top .img{ margin-right:10px;}
.comment .comm_top img{ display:block; height:60px; width:60px; border-radius:50%;}
.comment .comm_top textarea{ width:540px; height:90px; resize:none; border:1px solid #BEBEBE;}
.comment .comm_top .comm_text{width:540px;}
.comment .share{ margin-top:10px;}
.comment .share .submit{ width:80px; line-height:30px; background:#B1B1B1; float:right; color:#fff; cursor:pointer;}
.comment .share .cuicons{ margin-right:5px; width:22px; height:22px;}
.comment .share .sina{background-position:-278px -104px;}
.comment .share .qq{background-position:-307px -104px;}
.comment .share .renren{background-position:-336px -104px;}
.comment .comm_bt{}
.comment .comm_bt h4{border-bottom:1px solid #d0d0d0; height:42px; font-weight:normal; margin-bottom:20px;}
.comment .comm_bt h4 span{border-bottom:3px solid #FF9900; float:left; color:#333; padding:0 5px; margin-left:20px; text-align:center; height:40px; line-height:40px; font-size:18px;}

.commlist{ padding:0 20px;}
.commone{ border-bottom:1px solid #ddd; padding:25px 0;}
.commlist .img{ width:60px; margin-right:10px;}
.commlist .img img{ display:block; height:60px; width:60px; border-radius:50%;}
.commlist dl{ width:540px;}
.commlist dl dt{ font-size:12px; font-weight:bold;}
.commlist dl dt span{ color:#999; margin-left:20px; font-weight:normal;}
.commlist dl dd{ color:#000; font-size:14px; margin-top:5px;}
.commlist dl dd.func{ font-size:12px; margin-top:10px;}
.commlist dl dd.func span{ margin:0 10px;color:#999;}
.commlist dl dd.func em{ color:#999; font-style:normal; margin-left:3px;}
.commlist dl .text{border:1px solid #BEBEBE; width:485px; padding-left:5px; font-size:12px; height:28px; float:left;}
.commlist dl .submit{ background:#B1B1B1; width:48px; height:30px; color:#fff; cursor:pointer;float:left;}
.commlist .commonemin{ border-bottom:1px dashed #ddd; padding:20px 0;}
.commlist p.more{ text-align:right; padding-top:10px; font-size:12px;}
.commlist .commonemin .img{ width:45px;}
.commlist .commonemin .img img{ height:45px; width:45px; border-radius:50%;}
.commlist .commonemin dl{ width:480px; margin-top:10px;}
.commlist .commonemin dl .text{ width:425px;}

.rightbox{background: #fff; padding-top:10px; border-bottom:1px solid #D0D0D0; margin-bottom:20px; }
.rightbox dl dt{border-bottom:1px solid #d0d0d0; height:41px; font-weight:normal; padding:0 20px;}
.rightbox dl dt span{border-bottom:2px solid #FF9900; float:left; text-align:center; height:40px; line-height:40px; font-size:18px;}
.rightbox dl dd.tags{ padding:10px 20px 20px 20px; line-height:30px;}
.rightbox dl dd.tags a{ display:inline-block; margin:10px 10px 0 0; background:#425E79; color:#fff; padding:0 10px; font-weight:bold;}
.rightbox dl dd.tags p{ font-size:12px; color:#666; margin-top:15px;}

.teacherbox,.videobox{background: #fff; padding-top:10px; border-bottom:1px solid #D0D0D0; margin-bottom:20px;}
.teacherbox h4,.videobox h4{border-bottom:1px solid #d0d0d0; height:41px; font-weight:normal; padding:0 20px;}
.teacherbox h4 span,.videobox h4 span{border-bottom:2px solid #FF9900; float:left; text-align:center; height:40px; line-height:40px; font-size:18px;}
.teacherbox dl{ padding:20px; font-size:12px;}
.teacherbox dl dt{ line-height:30px;}
.teacherbox dl dt .img{ width:65px; float:left; margin-right:20px;}
.teacherbox dl dt .img img{width:65px; height:65px; display:block;}
.teacherbox dl dt a{ font-size:20px; font-weight:bold; color:#000;}
.teacherbox dl dd{ color:#666; line-height:20px; margin-top:10px;}

.videobox ul{ padding:0 20px 20px 20px;}
.videobox li{ margin-top:20px;}
.videobox li .img{ width:114px; float:left; margin-right:15px;}
.videobox li .img img{ width:114px; height:68px; display:block;}
.videobox li .name{ margin-bottom:10px;}
.videobox li span{ font-size:12px; color:#999;}
.videobox li span .guankan{ vertical-align:-2px;}
.videobox li span a { color:#666;}
.videobox li a:hover{ text-decoration:none;}


.playarea{ background:#292929; padding-top:10px;}
.playbox{ width:980px; height:470px; margin:0 auto; position:relative;}
.playobj{ width:680px; height:470px; position:absolute; left:0px; z-index:2; }
.playobj .showhidebtn{background-position:-502px -71px; margin:5px 10px 0 10px;width:24px; height:42px;position:absolute;top:25px; right:-10px;}
.playmenu{ background:#0F0F0F; width:270px; height:440px; padding:20px 10px 10px 20px; position:absolute; right:0px; z-index:1;}
.playmenu h4{ font-size:16px; color:#666; font-weight:normal;}
.playmenu a{ color:#666;}
.vcatalogue{ border-left:1px solid #292929; padding-left:20px; margin:10px 0 0 10px;}
.vcatalogue li{ position:relative; padding-bottom:15px;}
.vcatalogue li a{ color:#ccc;}
.vcatalogue li b{ position:absolute; left:-31px; top:0px; background-position:-458px -71px; height:20px; width:20px; line-height:20px; text-align:center; color:#fff; font-size:12px;}
.scrollbararea{ height:390px; overflow:hidden; position:relative;}
.innerdiv{ height:390px;}
.innerdiv .innerctn{ height:390px; width:250px;}
.scrollcolumn{width:13px;background:#2C2C2C;height:300px;position:absolute;right:10px;top:0px;}
.scrollbar{position:absolute; left:2px;width:9px;height:60px;background:#222222;cursor:pointer}
.course_main,.leftcontent{overflow:hidden}

.m-video-box, .m-video-box object, .m-video-box embed, .m-text-box, .m-text-box object, .m-text-box embed, .m-link-box, .m-link-box object, .m-link-box embed {position: absolute;top: 0;bottom: 0;left: 0;right: 0;}
.m-courselearn .learn-box {position: absolute;width: 100%;top: 0;bottom: 36px;z-index: 101;text-align: center;overflow: auto;background-color: #525050;}
.m-courselb .learn-total {bottom: 40px;top: 95px;left: 20px;right: 20px;position: absolute;z-index: 90;-webkit-box-shadow: 0 1px 5px #303035;-moz-box-shadow: 0 1px 5px #303035;box-shadow: 0 1px 5px #303035;}
.m-courselb .course-learn {z-index: 100;}
.m-courselb .cl-pre, .m-courselb .cl-next{background: url(../images/curse.png) no-repeat;position: absolute;left: 112px;display: block;width: 60px;height: 32px;z-index: 101;}
.m-courselb .cl-title  b{ float:left;background: url(../images/curse.png) -550px -71px no-repeat;line-height: 28px;font-size: 12px;width:30px;height:25px;  }
.m-courselb .cl-title {position: absolute;top: 45px;left: 126px;font-size: 18px;color: #fff;}
.m-courselb .cl-next {bottom: -1px;background-position:-786px -71px;}
.m-courselb .cl-pre {top: -1px;background-position:-843px -71px;}
.m-courselb .cl-back {z-index: 101;position: absolute;top:45px;left:20px;display: block;width: 45px;font-size: 16px;color: #666;}
.m-courselb .cl-logo {width: 395px;height: 124px;background: url(../images/playlogo.png) no-repeat;position: absolute;left: 50%;top: 50%;margin-left: -214px;margin-top: -62px;}
.m-courselb .cl-bg {height: 100%;width: 4px;border-right: 1px solid #363636;background-color: #0A0A0A;left: 139px;position: absolute;top: 0;z-index: 98;}
.u-hiderightbtn {background: url(../images/curse.png) -584px -71px no-repeat;position: absolute;right: 0;top: 12px;width: 23px;height: 43px;cursor: pointer;z-index: 998;}


.coursebox {right: 320px;border-top: 1px solid #666666;border-bottom: 1px solid #626262;overflow: hidden;background: url(../images/playbg.gif) repeat;}
.coursebox, .course-learn, .m-courselearn {position: absolute;top: 0;bottom: 0;left: 0;right: 0; }
.f-cb, .f-cbli li {zoom: 1;}
.m-video-box .fsmask, .m-text-box .fsmask, .m-link-box .fsmask {width: 40px;height: 28px;position: absolute;right: 0;bottom: 0;background-color: #f00;filter: alpha(opacity=0);-khtml-opacity: 0;-moz-opacity: 0;opacity: 0;}

.g-sd2 {position: relative;top: 0;bottom: 0;right: 0;width: 320px;overflow: hidden;float: right;margin-left: -225px;height: 100%;}
.g-sd2 .courseintro{padding:20px;background: #ABADB0;}
.g-sd2 .courseintro .img{ float:left; width:100px; border:1px solid #CBCBCB; margin-right:10px;}
.g-sd2 .courseintro dt{ margin-bottom:25px;}
.g-sd2 .courseintro dt a{ color:#000;}
.g-sd2 .courseintro dd a{ color:#333; font-size:12px;}
.g-sd2 .tabs{ background:#D2D5DA; padding:10px 20px;}
.g-sd2 .tabs li{ width:64px; float:left; margin-right:20px;}
.g-sd2 .tabs li span{background: url(../images/curse.png) no-repeat; width:65px; height:26px; display:block;}
.g-sd2 .tabs li .menu{background-position: -639px -100px;}
.g-sd2 .tabs li .comt{background-position: -712px -100px;}
.g-sd2 .tabs li.cur .menu{background-position: -639px -72px;}
.g-sd2 .tabs li.cur .comt{background-position: -712px -72px;}
.g-sd2 .tabarea {position: absolute;top: 153px;left: 0;width: 320px;bottom: 0;overflow: hidden;background: #f5f7fa;}
.g-sd2 .tabarea .tabbox {position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.g-sd2 .tabarea .bd {position: absolute;z-index: 1;left:20px;top:30px;border: none;border-left: solid 2px #DDDDDD;width: 0;height: 100%;}
.chapterlistBox{ position: absolute;top:0px;left: 0;right: 0;bottom: 0;height: 100%;z-index: 100;overflow-y: auto;zoom: 1;}
.chapterList {border-top: 0;text-align: left;position: relative;z-index: 999;padding-bottom: 1em;font-size: 12px; padding-top:20px;}
.chapterList .first{ margin-bottom:20px; font-size:14px;}
.chapterList .first p{padding-left:41px; position:relative;}
.chapterList .first p .line{ position:absolute; left:20px; top:10px; width:15px; border:1px solid #ddd; }
.chapterList .first .grayli{ background:#D3DCE0;}
.chapterList .first .whole,.chapterList .first .no,.chapterList .first .half,.chapterList .first .outline{ position:absolute; left:15px; top:2px;}
.chapterList .first ul li{ line-height:40px; line-height:40px; padding-left:30px; position:relative;}
.chapterList .first ul li a{ display:block; color:#333; font-size:14px;}
.chapterList .first ul li span{ margin-right:10px; color:#74A70A; font-size:12px;}
.wtextarea textarea{ width:260px; height:60px; resize:none; border:1px solid #D7D7D7; float:left;}
.wtextarea .wsubmit{ width:38px; height:52px; padding-top:10px; display:block; float:left; background:#D7D7D7; text-align:center; color:#fff; font-size:14px;}
.wtextarea .wsubmit:hover{ text-decoration:none;}
.wtextarea{ padding:10px;}
.wchart{position: absolute;top:82px;left: 0;right: 0;bottom: 0;padding:0 10px 0px 10px;z-index: 100;overflow-y: auto;zoom: 1;}
.wchart .commone{ border-bottom:1px solid #ddd; padding:10px 0;}
.wchart .commone .img{ width:30px; margin-right:5px;}
.wchart .commone .img img{ display:block; height:30px; width:30px; border-radius:50%;}
.wchart .commone dl{ width:243px;}
.wchart .commone dl dt{ font-size:12px; font-weight:bold;}
.wchart .commone dl dt span{ color:#999; margin-left:20px; font-weight:normal;}
.wchart .commone dl dd{ color:#000; font-size:14px; margin-top:5px;}









