@charset "utf-8";
/* CSS Document */

b.red{background-position:-64px -8px; width:10px; height:10px; margin-right:5px;display:inline-block;}
b.sucess{background-position:-90px -5px; width:20px; height:20px; margin-right:5px;display:inline-block;}
b.erro{background-position:-90px -27px; width:20px; height:20px; margin-right:5px;display:inline-block;}

.main{ width:1000px; margin:30px auto;}
.main .mainleft{ width:215px;background: #fff; min-height:365px; _height:365px; border-bottom:1px solid #D0D0D0;}
.main .mainright{ width:730px;}
.main .mainright h3{ font-weight:normal;}

.treenav li{ height:40px; line-height:40px; border-bottom:1px dashed #D0D0D0;} 
.treenav li a{ display:block; padding-left:18px;}
.treenav li.cur a,.treenav li a:hover{ border-left:3px solid #FF6600;padding-left:15px; background:#0E2235; color:#fff; text-decoration:none;}

.classify{ border-bottom:1px solid #D0D0D0; height:40px;}
.classify li{ width:114px; text-align:center; float:left; height:40px; line-height:40px; font-size:16px;}
.classify li a{ color:#999;}
.classify li.cur{ border-bottom:2px solid #000;}
.classify li.cur a,.classify li:hover a{ color:#000;}

.curselist{ margin-top:6px;}
.curselist ul{ width:875px; margin-bottom:20px;}
.curselist ul li{ width:215px; margin:30px 41px 0 0; float:left; position:relative;border-bottom:1px solid #D0D0D0;background: #fff;}
.curselist .height230 li{height:230px;}
.curselist .height210 li{height:210px; position:relative;}
.curselist .height210 li .del{ cursor:pointer; display:none;position:absolute; top:-10px; right:-10px; background-position:-26px -52px; width:25px; height:25px;}
.curselist .height210 li:hover .del{ display:block;}
.curselist ul li img{ display:block; width:215px; height:141px;}
.curselist ul li dl{padding:0 10px;}
.curselist ul li .cursename{ margin-bottom:5px;}
.curselist ul li .cursename a{ color:#000; line-height:30px;}
.curselist ul li .info{ font-size:12px; color:#666666; margin-top:16px;}
.curselist ul li .info a{ color:#666;}
.curselist ul li .info .right{ float:right;}
.curselist ul li .videoinfo{ font-size:12px; color:#666666;}
.curselist ul li .videoinfo a{ color:#666;}
.curselist ul li .green{ color:#00CC00;}
.curselist ul li .entericon{ background-position:-3px -55px; width:18px; height:18px; margin-right:5px; float:left;}

.progress{width:100%;position: relative;height: 4px;}
.progress span{display: block;width: 100%;height: 4px;line-height: 16px;background-color: #e5e5e5;border-radius: 3px;position: absolute;bottom: 0;left: 0;}
.progress .yellow{background-color: #ff9a2e;z-index: 9;}
.progress .green{background-color: #00CC00;z-index: 9;}

.expProgress{width:100%;height: 160px;}
.expProgress span{display: block;width: 100%;height: 160px;background-color:#ee9900; text-align:center; color:#fff; float:left;}
.expProgress span em{ font-style:normal; display:block; font-size:60px; margin-top:15px;}
.expProgress .yellow{background-color:#FF9900;}

.scorelist{ margin-top:25px;}
.scorelist p{ border-bottom:2px solid #D8D8D8; padding-bottom:10px; margin-bottom:5px;}
.scorelist table{ width:100%;}
.scorelist td{ border-bottom:1px solid #D8D8D8; height:40px; color:#999;}
.scorelist td a{ color:#000;}
.scorelist td span{ color:#000; font-weight:bold;}
.scorelist td span.red{ color:#FF6600;}
.scorelist td em{color:#DBBD4A;font-style:normal;}

.setUserInfo{ margin-top:20px;}
.setUserInfo .topnotice{ color:#999;}
.setlist li{ margin-top:25px;}
.setlist li input,.setlist li textarea{ border:none;}
.setlist li label.classname{ width:71px; text-align:right; margin-right:10px; vertical-align:middle; font-size:14px;}
.setlist li .intputtext{background-position:0px -407px; width:195px; height:40px; padding-left:5px; color:#000;}
.setlist li .email p{ width:400px; font-size:12px; margin-bottom:5px; line-height:22px;}
.setlist li .email span{ font-size:14px;}
.setlist li .email .gray{ color:#999;}
.setlist li .email a{color:#0E2235;}
.setlist li .email .sucess{ float:left;}
.setlist li dl.touxiang{ width:600px; font-size:12px;}
.setlist li dl.touxiang dt{ width:122px; }
.setlist li dl.touxiang dd{ width:370px; color:#999; margin-left:10px; }
.setlist li dl.touxiang .changepic{ display:block; background-position:0 -82px; width:82px; height:32px; text-indent:-999px; overflow:hidden; margin-top:10px;color:#0E2235;}
.setlist li .radiolist span{ margin-right:15px; font-size:12px; font-family:"宋体";}
.setlist li .intputradio{ vertical-align:middle; margin-right:5px;}
.setlist li textarea{ width:490px; height:90px; padding:5px; background:url("../images/texta.png") no-repeat;resize: none;}
.setlist li .submit{background-position:-90px -72px; width:160px; height:40px; line-height:40px; text-align:center; color:#fff; font-weight:bold; letter-spacing:3px; cursor:pointer; margin-left:85px;}
.setlist li textarea:focus {outline: none;} 

.setUserInfo .setother dt{ font-size:16px; color:#333;}
.setUserInfo .setother dd{ margin-top:10px; color:#000;}
.setUserInfo .setother dd span{ color:#999; font-size:14px; margin-right:20px;}
.setUserInfo .setother dd em{ font-style:normal;}
.setUserInfo .setother dd a{color:#0E2235;font-size:12px;}
.setUserInfo .setother input{ vertical-align:middle; margin-right:5px;}
.setUserInfo .setother .submit{background-position:-90px -72px; width:160px; height:40px; margin-top:15px; line-height:40px; text-align:center; color:#fff; font-weight:bold; letter-spacing:3px; cursor:pointer;}
.setUserInfo .setother .mid{ margin:20px 0 20px 0;}

.yinsi li{ margin-top:16px; color:#000; width:243px; float:left;}
.yinsi li .submit{background-position:-90px -72px; width:160px; height:40px; line-height:40px; margin-top:15px; text-align:center; color:#fff; font-weight:bold; letter-spacing:3px; cursor:pointer;}
.yinsi input{ vertical-align:middle; margin-right:5px;}
.yinsi .topnoti2{font-size:16px; color:#333;}

.setUserInfo .messagelist .messicon{background-position:-121px -2px; width:60px; height:60px; margin-right:10px; }
.setUserInfo .messagelist .messagedl{ width:655px;font-size:14px; margin-bottom:30px;}
.setUserInfo .messagelist .messagedl dt{  color:#333;}
.setUserInfo .messagelist .messagedl dt a{ color:#333;}
.setUserInfo .messagelist .messagedl dt span{ float:right;}
.setUserInfo .messagelist .messagedl dt span a{ margin-left:10px;}
.setUserInfo .messagelist .messagedl dd{ color:#999; margin-top:10px;}
.setUserInfo .messagelist .messagedl .resource{ font-size:12px;}

.title{border-bottom:1px solid #D0D0D0; height:42px; font-weight:normal;}
.title span{border-bottom:3px solid #FF9900; float:left; text-align:center; height:40px; line-height:40px; font-size:22px;}
.login{ width:300px; margin:60px auto;}
.login li{ margin-bottom:10px; position:relative;color:#666;}
.login li i{ position:absolute;top:16px; left:12px;}
.login li i.email{background-position:-196px -2px;}
.login li i.pw{background-position:-196px -21px;}
.login li i.user{background-position:-196px -48px;}
.login .intputtext{background-position:0px -119px; width:260px; height:46px; line-height:46px; padding-left:40px;}
.login  input.intputtext:focus{background-position:0px -170px; border:none;}
.login .intputtextmin{background-position:0px -314px; width:145px; height:46px; padding-left:5px; vertical-align:middle;}
.login  input.intputtextmin:focus{background-position:-154px -314px; border:none;}
.login .submit{background-position:0px -219px; width:300px; height:40px; line-height:40px; text-align:center; color:#fff; font-weight:bold; letter-spacing:10px; cursor:pointer; font-size:16px;}
.login .remenberpw{ vertical-align:middle;}
.login .unremenber{ position:absolute;top:5px; right:0px;}
.login li a{ color:#666;}
.login .identili img{ display:inline-block; vertical-align:middle; margin:0 5px;}
.login b{ vertical-align:-5px;}
.login .yanzheng{ font-size:12px;}
.login .yanzheng em{ margin:0 5px;}

.register{ background:#FAFAFA; width:980px; height:300px; margin-bottom:20px; background:url(../images/linebg.png) repeat-y left top #fafafa;}
.register .rleft{width:630px;  height:300px;}
.register .rleft dl{ padding:45px 0 0 45px;}
.register .rleft dl dt{ font-size:20px;}
.register .rleft dl dd{ margin-top:15px; font-size:12px;}
.register .rleft dl dd em{ color:#FF7000; font-style:normal; margin:0 5px;}
.register .rleft dl dd .hrefbtn{background-position:0px -362px; width:160px; height:40px; line-height:40px; text-align:center; font-size:16px; color:#fff; font-weight:bold; letter-spacing:2px; margin-top:10px;}
.register .rleft dl dd .hrefbtn:hover{ text-decoration:none;}

.register .rleft b{ vertical-align:-5px;}
.register .rleft .yanzheng{ font-size:12px;color:#FF7000;}
.register .rleft .yanzheng em{ margin:0 5px;}
.register .rleft .identi img{ display:inline-block; vertical-align:middle; margin:0 5px;}
.register .intputtext{background-position:0px -119px; width:295px; height:46px; padding-left:5px;}
.register  input.intputtext:focus{background-position:0px -170px; border:none;}
.register .intputtextmin{background-position:0px -314px; width:145px; height:46px; padding-left:5px; vertical-align:middle;}
.register  input.intputtextmin:focus{background-position:-154px -314px; border:none;}
.register .nextbtn{background-position:-174px -362px; width:100px; height:40px; line-height:40px; text-align:center; color:#fff; font-weight:bold; letter-spacing:3px; cursor:pointer; font-size:16px;}
.register .nextbtn:hover{ text-decoration:none;}

.register .rright{width:300px; padding-top:45px; line-height:24px; color:#999; font-size:12px;padding-left: 30px;}
.borderra{ border-radius:10px;}
.registersuc{ background:#FAFAFA; width:980px; height:300px; background: #fafafa;}
.registersuc p{ padding-top:115px; text-align:center; }
.registersuc .hrefbtn{background-position:0px -362px; width:160px; height:40px; line-height:40px; text-align:center; font-size:16px; color:#fff; font-weight:bold; letter-spacing:2px; margin-top:10px;}
.registersuc .hrefbtn:hover{ text-decoration:none;}
.registersuc span{background-position:0px -263px; width:240px; height:40px; text-indent:-9999px; overflow:hidden; margin-right:70px;}

