<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no" />
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    {% stylesheets
    '@AppMobileBundle/Resources/public/css/common.css'
    '@AppMobileBundle/Resources/public/css/mv.css'
    filter="css_url_rewrite"
    %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}

    {% javascripts output="js/jquery.js"
    '@AppMobileBundle/Resources/public/js/jquery-1.10.1.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block head_bot %}
    {% endblock %}
</head>

<body style="background:#ebebeb;">
{% block body %}
{% endblock %}
</body>
</html>
