{% extends "AppMobileBundle::Wechat/base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block head_bot %}
    {% javascripts output="js/idangerous.swiper.js"
    '@AppMobileBundle/Resources/public/js/idangerous.swiper-2.0.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% stylesheets
    '@AppMobileBundle/Resources/public/css/idangerous.swiper.css'
    filter="css_url_rewrite"
    %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}

    <style>
        .device {width:100%; position: relative;}
        .swiper-container { width:100%;}
        .pagination {position: absolute;left: 0; text-align: right;bottom:6px; width: 100%; height:8px; padding-right:17px; z-index:99;}
        .swiper-pagination-switch {display: inline-block; vertical-align:top; width: 8px;height: 8px; background:#FFF; border-radius:50%; margin: 0 3px 0 2px;cursor: pointer;}
        .swiper-active-switch {background:#1182ff;}
    </style>
{% endblock %}

{% block body %}
    <!--幻灯 begin-->
    <div class="device">
        <div class="swiper-container">
            <div class="swiper-wrapper">

                <div class="swiper-slide mvShow">
                    <div class="pic" onclick="window.location.href='/other/webapp4OpenClass_webApp4OpenClass_player.jspx?videoId=101000685'" style="background:url('http://file.m.superlib.com/A/PublicClass/cover/20150430/2024/xlt2024b.jpg') center center no-repeat; background-size:cover;"></div>
                    <aside class="infor">当代中国道德治理研究</aside>
                </div>

                <div class="swiper-slide mvShow">
                    <div class="pic" onclick="window.location.href='/other/webapp4OpenClass_webApp4OpenClass_player.jspx?videoId=101000701'" style="background:url('http://file.m.superlib.com/A/PublicClass/cover/20150430/2553/xlt2553b.jpg') center center no-repeat; background-size:cover;"></div>
                    <aside class="infor">台海局势与对台政策</aside>
                </div>

                <div class="swiper-slide mvShow">
                    <div class="pic" onclick="window.location.href='/other/webapp4OpenClass_webApp4OpenClass_player.jspx?videoId=101000592'" style="background:url('http://file.m.superlib.com/A/PublicClass/cover/20150530/1026/xlt1026b.jpg') center center no-repeat; background-size:cover;"></div>
                    <aside class="infor">顺应自然 为所当为――现代人心理健康漫谈</aside>
                </div>

                <div class="swiper-slide mvShow">
                    <div class="pic" onclick="window.location.href='/other/webapp4OpenClass_webApp4OpenClass_player.jspx?videoId=101000671'" style="background:url('http://file.m.superlib.com/A/PublicClass/cover/20150421/2541/xlt2541b.jpg') center center no-repeat; background-size:cover;"></div>
                    <aside class="infor">民生：是权利还是优惠</aside>
                </div>

                <div class="swiper-slide mvShow">
                    <div class="pic" onclick="window.location.href='/other/webapp4OpenClass_webApp4OpenClass_player.jspx?videoId=101000629'" style="background:url('http://file.m.superlib.com/A/PublicClass/cover/20150421/1009/xlt1009b.jpg') center center no-repeat; background-size:cover;"></div>
                    <aside class="infor">告诉你一个真实的江湖</aside>
                </div>

                <div class="swiper-slide mvShow">
                    <div class="pic" onclick="window.location.href='/other/webapp4OpenClass_webApp4OpenClass_player.jspx?videoId=101000602'" style="background:url('http://file.m.superlib.com/A/PublicClass/cover/20150530/1515/xlt1514b.jpg') center center no-repeat; background-size:cover;"></div>
                    <aside class="infor">文化的信任度与市场经济的思考</aside>
                </div>

            </div>
        </div>
        <div class="pagination"></div>
    </div>
    <!--幻灯end-->

    <div class="mv-box">
        {% for term in terms %}
            <div class="m-mv">
                <div class="u-ttl3 clearfix">
                    <a href="{{ path('wx_term_list', {'cid': cid, 'tid': term.id}) }}" class="more fr">更多</a>
                    <h3>{{ term.name }}</h3>
                </div>
                <ul class="u-mv">
                    {% for video in term.videos %}
                        <li>
                            <a href="{{ path('wx_video', {'id': video.id}) }}">
                                <div class="img"><img src="{{ img_host ~ video.cover }}" /></div>
                                <div class="infor">
                                    <h3 class="tit">{{ video.title }}</h3>
                                    <p class="author">{{ video.speakerTitle }}</p>
                                    <p class="author">讲师：{{ video.speaker }}</p>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>


    <a href="/other/webapp4OpenClass_webApp4OpenClass_searchVideo.jspx" class="btnSs"></a>
    <script>
        var mySwiper = new Swiper('.swiper-container',{
            pagination: '.pagination',
            loop:true,
            grabCursor: true,
            paginationClickable: true,
            autoplay:5000
        })
        $('.arrow-left').on('click', function(e){
            e.preventDefault()
            mySwiper.swipePrev()
        })
        $('.arrow-right').on('click', function(e){
            e.preventDefault()
            mySwiper.swipeNext()
        })
    </script>

{% endblock %}
