{% extends "AppMobileBundle::Wechat/base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <ul id="ul" class="u-mv">

        {% for video in videos %}
            <li>
                <a href="{{ path('wx_video', {'id': video.id}) }}">
                    <div class="img"><img src="{{ img_host ~ video.cover }}" /></div>
                    <div class="infor">
                        <h3 class="tit">{{ video.title }}</h3>
                        <p class="author">{{ video.speakerTitle }}</p>
                        <p class="author">讲师：{{ video.speaker }}</p>
                    </div>
                </a>
            </li>
        {% endfor %}

    </ul>
    <a href="/other/webapp4OpenClass_webApp4OpenClass_searchVideo.jspx" class="btnSs"></a>
    <div id="moreBox" style="display:none" class="moreBox">正在加载,请稍后...</div>


    <style>
        /*加载更多*/
        .moreBox{ height:36px; line-height:36px; background:#dfe2e6; position:fixed; width:100%; left:0; bottom:0; text-align:center; font-size:12px; color:#999;}
        .moreBox img{-webkit-animation: cwSpin 1s linear .2s infinite; vertical-align:top; margin:9px 10px 0 0;}
    </style>
    <script >
        var page = 1;
        var pageCount = {{ pages }};
        window.onscroll=function(){
            var a = document.documentElement.scrollTop==0? document.body.clientHeight : document.documentElement.clientHeight;
            if(a>document.documentElement.clientHeight){
                a=document.documentElement.clientHeight;
            }
            var b = document.documentElement.scrollTop==0? document.body.scrollTop : document.documentElement.scrollTop;
            var c = document.documentElement.scrollTop==0? document.body.scrollHeight : document.documentElement.scrollHeight;
            if(a+b==c){

                if(page+1<=pageCount){
                    $('#moreBox').css('display','block');
                    showmore();
                }
            }
        };
        function showmore(){

            var url = "{{ path('wx_term_list', {'cid': cid, 'tid': tid}) }}?scroll="+page;

            if(page<=pageCount){
                $.ajax({
                    url: url,
                    success: function(html)
                    {
                        $('#moreBox').css('display','none');
                        if(html)
                        {
                            $("#ul").append(html);
                        }
                    },
                    error: function() {
                        $('#moreBox').css('display','none');
                    }
                });
            }
            page = page+1;
        }
    </script>

{% endblock %}
