{% for video in videos %}
    <li>
        <a href="{{ path('wx_video', {'id': video.id}) }}">
            <div class="img"><img src="{{ img_host ~ video.cover }}" /></div>
            <div class="infor">
                <h3 class="tit">{{ video.title }}</h3>
                <p class="author">{{ video.speakerTitle }}</p>
                <p class="author">讲师：{{ video.speaker }}</p>
            </div>
        </a>
    </li>
{% endfor %}