{% extends "AppAdminBundle::layout.html.twig" %}
{% trans_default_domain 'admin' %}

{% block content_sidebar %}
    <h1 class="page-header">{{ category.name }}</h1>

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('failed') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="col-md-8">
        <form method="post" class="form-horizontal">
            <fieldset>
                <legend><i class="fa fa-pencil"></i>&nbsp;修改</legend>
                <div class="form-group">
                    <label class="control-label col-md-3">名称</label>
                    <div class="col-md-9">
                        <input type="text" value="{{ category.name }}" name="category[name]" class="form-control input-md" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">slug</label>
                    <div class="col-md-9">
                        <input type="text" value="{{ category.slug }}" name="category[slug]" class="form-control input-md" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">位置</label>
                    <div class="col-md-9">
                        <input type="number" value="{{ category.position }}" name="category[position]" class="form-control input-md" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <button type="submit" name="edit_category" class="btn btn-primary">提交</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

{% endblock content_sidebar %}