{% extends "AppAdminBundle::layout.html.twig" %}
{% trans_default_domain 'admin' %}

{% block content_sidebar %}
    <h1 class="page-header">{{ term.category.name }} <i class="fa fa-chevron-right"></i> {{ term.name }}</h1>

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('failed') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="col-md-8">
        <form method="post" class="form-horizontal">
            <fieldset>
                <legend><i class="fa fa-plus-square-o"></i>&nbsp;修改</legend>
                <div class="form-group">
                    <label class="control-label col-md-3">所属分类</label>
                    <div class="col-md-9">
                        <select name="term[category]" required="required" class="form-control">
                            {% for category in categories %}
                                <option value="{{ category.id }}" {% if category.id == term.category.id %}selected="selected" {% endif %}>{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">名称</label>
                    <div class="col-md-9">
                        <input type="text" name="term[name]" value="{{ term.name }}" class="form-control input-md" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">slug</label>
                    <div class="col-md-9">
                        <input type="text" name="term[slug]" value="{{ term.slug }}" class="form-control input-md" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">位置</label>
                    <div class="col-md-9">
                        <input type="text" name="term[position]" value="{{ term.position|default(0) }}" class="form-control input-md" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <button type="submit" name="edit_term" class="btn btn-primary">提交</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

{% endblock content_sidebar %}