{% extends "AppAdminBundle::layout.html.twig" %}
{% trans_default_domain 'admin' %}

{% block content_sidebar %}
    <h1 class="page-header">分类管理</h1>

    {% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('failed') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="col-md-6">
        <form method="post" id="add_category" class="form-horizontal" action="{{ path('admin_category_add') }}">
            <fieldset>
                <legend><i class="fa fa-plus-square-o"></i>&nbsp;添加一级分类</legend>
                <div class="form-group">
                    <label class="control-label col-md-3">名称</label>
                    <div class="col-md-9">
                        <input type="text" name="add_category[name]" class="form-control input-md" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">slug</label>
                    <div class="col-md-9">
                        <input type="text" name="add_category[slug]" class="form-control input-md" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">位置</label>
                    <div class="col-md-9">
                        <input type="number" name="add_category[position]" class="form-control input-md" value="0" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <button type="submit" name="add" class="btn btn-primary">提交</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="col-md-6">
        <form method="post" class="form-horizontal" id="add_term" action="{{ path('admin_term_add') }}">
            <fieldset>
                <legend><i class="fa fa-plus-square-o"></i>&nbsp;添加二级分类</legend>
                <div class="form-group">
                    <label class="control-label col-md-3">所属分类</label>
                    <div class="col-md-9">
                        <select name="add_term[category]" required="required" class="form-control">
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">名称</label>
                    <div class="col-md-9">
                        <input type="text" name="add_term[name]" class="form-control input-md" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">slug</label>
                    <div class="col-md-9">
                        <input type="text" name="add_term[slug]" class="form-control input-md" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">位置</label>
                    <div class="col-md-9">
                        <input type="text" name="add_term[position]" value="0" class="form-control input-md" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <button type="submit" name="add" class="btn btn-primary">提交</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="col-md-12">
        {% for category in categories %}
            <fieldset>
                <legend><i class="fa fa-tags"></i>{{ category.name }}<a href="{{ path('admin_category_edit',{'id':category.id}) }}"><i class="fa fa-pencil"></i></a></legend>
                <div class="col-md-12">
                    {% for term in terms if term.category.id == category.id %}
                        <div class="col-md-2">
                            <span class="">
                                <i class="fa fa-tag"></i>
                                {{ term.name }}
                                <a href="{{ path('admin_term_edit',{'id':term.id}) }}"><i class="fa fa-pencil"></i></a>
                            </span>
                        </div>
                    {% endfor %}
                </div>
            </fieldset>
            <br />
            <br />
            <br />
        {% endfor %}
    </div>

{% endblock content_sidebar %}

{% block foot_script_assetic %}
    {% javascripts output="js/vlidate.js"
    '@AppWebBundle/Resources/public/components/jquery-validation/dist/jquery.validate.js'
    '@AppWebBundle/Resources/public/components/jquery-validation/src/localization/messages_zh.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        jQuery(function($){
            $().ready(function(){
                //表单验证
                $("#add_category").validate({
                    highlight: function(element) {
                        $(element).closest('.form-group').addClass('has-error');
                    },
                    unhighlight: function(element) {
                        $(element).closest('.form-group').removeClass('has-error');
                    },
                    errorElement: 'span',
                    errorClass: 'help-block',
                    errorPlacement: function(error, element) {
                        if(element.parent('.input-group').length) {
                            error.insertAfter(element.parent());
                        } else {
                            error.insertAfter(element);
                        }
                    }
                });
                $("#add_term").validate({
                    highlight: function(element) {
                        $(element).closest('.form-group').addClass('has-error');
                    },
                    unhighlight: function(element) {
                        $(element).closest('.form-group').removeClass('has-error');
                    },
                    errorElement: 'span',
                    errorClass: 'help-block',
                    errorPlacement: function(error, element) {
                        if(element.parent('.input-group').length) {
                            error.insertAfter(element.parent());
                        } else {
                            error.insertAfter(element);
                        }
                    }
                });
            })
        })

    </script>
{% endblock foot_script_assetic %}