{% extends "AppWebBundle::base.html.twig" %}

{% block title %}微述{% endblock %}
{% block head_style %}
    {% stylesheets
    '@AppWebBundle/Resources/public/components/bootstrap/dist/css/bootstrap.css'
    '@AppWebBundle/Resources/public/css/font-awesome.css'
    '@AppWebBundle/Resources/public/css/sticky-footer.css'
    filter="css_url_rewrite"
    %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock head_style %}
{% block head_script %}
    {% javascripts output="js/jquery.js"
    '@AppWebBundle/Resources/public/components/jquery/dist/jquery.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock head_script %}

{% block navbar %}
    <div class="navbar-wrapper">
        <div class="container">

            <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('app_web_home') }}">微述</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        {{ knp_menu_render('main', {'currentClass': 'active'}) }}
                        {% include 'AppWebBundle:_global:loginStatus.html.twig' %}
                        <form class="navbar-form navbar-right" action="{{ path('app_web_search') }}" method="get">
                            <input type="text" name="wd" placeholder="搜索..." {% if word|default('') %}value="{{ word|escape }}"{% endif %} class="form-control">
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </div>
{% endblock navbar %}

{% block container %}

{% block container_tag %}<div class="container">{% endblock container_tag %}

{% block carousel %}{% endblock carousel %}


{% block content %}

    {% block content_tag %}
        <div class="{% block content_class %}content{% endblock content_class %}">
    {% endblock content_tag %}
    {% block content_header %}
        <header>
            <div class="page-header">
            </div>
        </header>
    {% endblock content_header %}

        {% block content_row %}

        {% endblock content_row %}


    {% block content_tag_end %}
    </div><!-- /.container -->
    {% endblock content_tag_end %}

{% endblock content %}

{% block container_tag_end %}</div>{% endblock container_tag_end %}

{% endblock container %}

{% block body_end_before_js %}
    {% block footer_tag_start %}
        <div class="footer">
    {% endblock footer_tag_start %}

    {% block footer %}
        <div class="container">
            <p class="text-muted">&copy; {{ 'now'|date('Y') }} Veishu.com &middot; 微述 &middot; 西安云赞信息技术有限公司 版权所有 &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </div>
    {% endblock footer %}

    {% block footer_tag_end %}
        </div>
    {% endblock footer_tag_end %}
{% endblock body_end_before_js %}


{% block foot_script %}
{% block foot_script_assetic %}
    {% javascripts output="js/build.js"
        '@AppWebBundle/Resources/public/components/jquery/dist/jquery.js'
        '@AppWebBundle/Resources/public/components/bootstrap/dist/js/bootstrap.js'
        '@AppWebBundle/Resources/public/assets/js/docs.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock foot_script_assetic %}
{% endblock foot_script %}