{% extends "::layout.html.twig" %}

{% block content %}
    <div class="mainleft leftF">
        {% block content_sidebar %}
        {% endblock content_sidebar %}
    </div>
    <div class="mainright rightF">
        {% block content_right %}
        {% endblock content_right %}
    </div>
{% endblock content %}