{% extends "::layout.html.twig" %}
{% trans_default_domain 'AppWebBundle' %}
{% block title %}用户空间 - 微述{% endblock %}
{% block head_style %}
    {{ parent() }}
    {% stylesheets
    '@AppWebBundle/Resources/public/css/myroom.css'
    filter="css_url_rewrite"
    %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock head_style %}

{% block above_main %}
    <div class="userdiv">
        <div class="bigperson">
            <div class="touxiang"><a href=""><img src="{% if app.user.avatar|default('') %}{{ img_host ~ app.user.avatar }}{% else %}{{ default_avatar }}{% endif %}" width="100" height="100"/></a></div>
            <div class="personname">
                <p class="top"><a href="">{{ app.user.nickName|default(app.user.username) }}</a>，
                    {% set now = "now"|date('H') %}
                    {% if now >= 18 and now <= 23  %}晚上好{% endif %}
                    {% if now >= 12 and now <= 17  %}下午好{% endif %}
                    {% if now >= 6 and now <= 11  %}上午好{% endif %}
                    {% if now >= 0 and now <= 5  %}夜深了，早点休息{% endif %}！
                </p>
                <p>{{ app.user.signature }}</p>
            </div>
        </div>
    </div>
{% endblock above_main %}


{% block content %}
    <div class="mainleft leftF">
        {% block content_sidebar %}
            {{ knp_menu_render('member_sidebar', {'currentClass': 'cur'}) }}
        {% endblock content_sidebar %}
    </div>
    <div class="mainright rightF">
        {% block content_right %}
            {% block right_tab %}
            {% endblock right_tab %}
            {% block right_content %}
            {% endblock right_content %}
        {% endblock content_right %}
    </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}