{% extends "AppAdminBundle::layout.html.twig" %}
{% trans_default_domain 'admin' %}

{% block title %}{{ 'app.import.title'|trans() }} - 微述{% endblock %}

{% block content_sidebar %}
    <h1 class="page-header">{{ 'app.import.title'|trans() }}</h1>

    <div class="message">
        <pre>
            **导入说明**
            文件<a href="{{ asset('bundles/appadmin/csv/import.sample.csv') }}">import.sample.csv</a>为导入的示例文档。

            1. 请使用Excel打开后另存为后开始添加内容。注意：新保存的文件名尽量避免使用中文和特殊字符。
            2. 文档第一行为程序标识行，不得随意修改，只有知识点的两个字段可以进行复制添加列。
            3. 文档第二行为标识字段的说明文字，请保留，程序会跳过导入该行。
            4. 目前视频暂定为两级分类，第一个term为一级分类，第二个term为二级分类。
            5. 知识点有三个字段，point\summary，示例文档里预置了两个知识点，需要加更多知识点，需要将第一行的point\summary 复制一次添加在后面
            如果有3个知识点，那么表头列末应该识 point|summary|point|summary|point|summary 以此类推。
            6. 如果使用文本编辑器修改csv文件，请注意给内容加上双引号，尤其是含有英文逗号单个字段内容必须用双引号包起来。
        </pre>
    </div>

    <div class="import">
        <form action="{{ path('app_admin_import_video') }}" {{ form_enctype(form) }} method="POST" id="import_form" class="form-import" role="form">
            {{ form_widget(form) }}
            <div>
                <button class="btn btn-primary" type="submit">{{ 'app.import.title'|trans() }}</button>
            </div>

        </form>
    </div>
{% endblock content_sidebar %}

