{% extends "::layout.html.twig" %}

{% block head_style %}
    {% stylesheets
    '@AppWebBundle/Resources/public/css/common.css'
    '@AppWebBundle/Resources/public/css/index.css'
    filter="css_url_rewrite"
    %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock head_style %}


{% block main %}
    <div class="index">
        <div class="classify colorb">
            <ul class="row">
                <li>
                    <a class="c1" href="{{ path('video_list', {'slug':'handicraft'}) }}">
                        <dl>
                            <dt>手工DIY</dt>
                            <dd>让您快速掌握户外运动的乐趣，驰骋郊外温暖于心。</dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a class="c2" href="{{ path('video_list', {'slug':'sport'}) }}">
                        <dl>
                            <dt>运动健身</dt>
                            <dd>让您快速掌握户外运动的乐趣，驰骋郊外温暖于心。</dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a class="c3" href="{{ path('video_list', {'slug':'healthy-diet'}) }}">
                        <dl>
                            <dt>饮食健康</dt>
                            <dd>让您快速掌握户外运动的乐趣，驰骋郊外温暖于心。</dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a class="c4" href="{{ path('video_list', {'slug':'entertainment'}) }}">
                        <dl>
                            <dt>才艺娱乐</dt>
                            <dd>让您快速掌握户外运动的乐趣，驰骋郊外温暖于心。</dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a class="c5" href="{{ path('video_list', {'slug':'dress-up'}) }}">
                        <dl>
                            <dt>美妆造型</dt>
                            <dd>让您快速掌握户外运动的乐趣，驰骋郊外温暖于心。</dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a class="c6" href="{{ path('video_list', {'slug':'life'}) }}">
                        <dl>
                            <dt>生活家居</dt>
                            <dd>让您快速掌握户外运动的乐趣，驰骋郊外温暖于心。</dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a class="c7" href="{{ path('video_list', {'slug':'cultural'}) }}">
                        <dl>
                            <dt>文化教育</dt>
                            <dd>让您快速掌握户外运动的乐趣，驰骋郊外温暖于心。</dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a class="c8" href="{{ path('video_list', {'slug':'health-preserving'}) }}">
                        <dl>
                            <dt>养生保健</dt>
                            <dd>让您快速掌握户外运动的乐趣，驰骋郊外温暖于心。</dd>
                        </dl>
                    </a>
                </li>
            </ul>
        </div>

        <div class="classbox" id="classbox1">
            <div class="innerbox row">
                <div class="text leftF">
                    <h3>精心制作的微视频课程</h3>
                    <p>应用时下最流行的微视频、MOOC教学方式；<br/>课程内容从选材、策划、拍摄到制作更加贴近生活。</p>
                </div>
                <div class="pic pic1 rightF"></div>
            </div>
        </div>

        <div class="classbox" id="classbox2" style="background-color:#EAEAEA">
            <div class="innerbox row">
                <div class="pic pic2 leftF" style="right:auto; left:0;"></div>
                <div class="text rightF" style="right:0; left:auto;">
                    <h3>简洁的在线学习体验</h3>
                    <p>不分年龄，不分人群；<br/>简单易操作的学习流程体验，真正面向于全民的学习服务。</p>
                </div>
            </div>
        </div>

        <div class="classbox colorb" id="classbox3">
            <div class="innerbox row">
                <div class="text leftF">
                    <h3>随时随地掌握学习进度</h3>
                    <p>下载微述移动客户端，将课程统统装进你的口袋；<br/>无论是在家里，还是在咖啡厅，随时随地，学习进度轻松掌握。</p>
                </div>
                <div class="pic pic3 rightF"></div>
            </div>
        </div>

        <div class="slidebox">
            <div class="slide" id="focuseImg">
                <div class="stitle"><span style="display:none;">推荐视频</span></div>
                <div class="scroll">
                    <div class="srollList">
                        <ul>

                            {% for video in random_videos %}
                            <li>
                                <a href="{{ path('video_show', {'slug': video.slug|default(video.number)}) }}"><img src="{{ img_host ~ video.cover }}" title="{{ video.title }}" border="0" height="132" width="187">
                                    {{ video.title }}
                                    <i><em></em></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                <span class="left"></span><span class="right"></span>
            </div>
        </div>


        <div class="weishubox"><!--
            <div class="weishunews row">
                <div class="weishun leftF">
                    <h3><span>微述动态</span></h3>
                    <div class="newsbox row">
                        <div class="g-u img"><a href="#"><img src="temp/curs.gif" width="270" height="160"></a></div>
                        <dl>
                            <dt>
                                <a href="">热烈庆祝微述平台开通运营！</a>
                            </dt>
                            <dd>微述以讲述生活百科，传承文化教育为服务宗旨，精心制作的视频课程，实时交互的学习体验，随时随地掌握学习进度，欢迎大家提出您的宝贵建议，在生活中学习，在学习中生活根本停不下来。</dd>
                            <dd class="time"><a href="" class="rightF">更多</a>2014-12-30</dd>
                        </dl>
                    </div>
                    <div class="newsbox row">
                        <div class="g-u img"><a href="#"><img src="temp/curs.gif" width="270" height="160"></a></div>
                        <dl>
                            <dt>
                                <a href="">热烈庆祝微述平台开通运营！</a>
                            </dt>
                            <dd>微述以讲述生活百科，传承文化教育为服务宗旨，精心制作的视频课程，实时交互的学习体验，随时随地掌握学习进度，欢迎大家提出您的宝贵建议，在生活中学习，在学习中生活根本停不下来。</dd>
                            <dd class="time"><a href="" class="rightF">更多</a>2014-12-30</dd>
                        </dl>
                    </div>
                </div>
                <div class="weishuc rightF">
                    <h3><span>微述动态</span></h3>
                    <div class="wcoment">
                        <div class="commone">
                            <div class="g-u img">
                                <a href=""><img src="temp/bigperson.gif" width="60" height="60"></a>
                            </div>
                            <dl class="g-u">
                                <dt><a href="">飞行的翅膀</a><span>发表评论</span></dt>
                                <dd>相信写代码是一件让人兴奋并且是具有创造性的事情，是一种生活方式。</dd>
                            </dl>
                        </div>
                        <div class="commone">
                            <div class="g-u img">
                                <a href=""><img src="temp/bigperson.gif" width="60" height="60"></a>
                            </div>
                            <dl class="g-u">
                                <dt><a href="">飞行的翅膀</a><span>发表评论</span></dt>
                                <dd>相信写代码是一件让人兴奋并且是具有创造性的事情，是一种生活方式。</dd>
                            </dl>
                        </div>
                        <div class="commone">
                            <div class="g-u img">
                                <a href=""><img src="temp/bigperson.gif" width="60" height="60"></a>
                            </div>
                            <dl class="g-u">
                                <dt><a href="">飞行的翅膀</a><span>发表评论</span></dt>
                                <dd>相信写代码是一件让人兴奋并且是具有创造性的事情，是一种生活方式。</dd>
                            </dl>
                        </div>
                        <div class="commone">
                            <div class="g-u img">
                                <a href=""><img src="temp/bigperson.gif" width="60" height="60"></a>
                            </div>
                            <dl class="g-u">
                                <dt><a href="">飞行的翅膀</a><span>发表评论</span></dt>
                                <dd>相信写代码是一件让人兴奋并且是具有创造性的事情，是一种生活方式。</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>

        <div class="infoot">

            <div class="infoottop">
                <ul>
                    <li><a href="/" class="home"></a></li>
                    <li><a href="{{ path('page_about_us') }}">关于我们</a></li>
                    <li><a href="{{ path('page_contact_us') }}">联系我们</a></li>
                    <li><a href="{{ path('page_our_team') }}">团队介绍</a></li>
                    <li><a href="{{ path('page_privacy') }}">版权声明</a></li>
                    <li><a href="{{ path('page_legal') }}">法律条款</a></li>
                    <li class="last">
                        <a href="#" class="xinlang"></a>
                        <a href="#" class="weixin"></a>
                    </li>
                </ul>
            </div>
            <div class="infootb">
                <p>© {{ 'now'|date('Y') }} weshu.cn<span>陕ICP备14011126号-1</span><span></span></p>
            </div>
            {% include 'AppWebBundle:_global:tongji.html.twig' %}
        </div>

    </div>


{% endblock main %}

{% block footer %}
    <div class="backtotop">返回顶部</div>
{% endblock footer %}

{% block body_end %}
    <script type="text/javascript">
        $( document).ready(function() {

            $(window).scroll(function(){
                var topH=$(document).scrollTop(),
                        ctop = $('#classbox1').offset().top,
                        ctop1 = $('#classbox2').offset().top,
                        ctop2 = $('#classbox3').offset().top,
                        h = $('#classbox1').height();
                if(topH>ctop-550){
                    $('#classbox1').find('.text').animate({'opacity':'1','top':'0px'});
                    $('#classbox1').find('.pic').animate({'opacity':'1','top':'0px'})
                }
                if(topH>ctop1-550){
                    $('#classbox2').find('.text').animate({'opacity':'1','top':'0px'});
                    $('#classbox2').find('.pic').animate({'opacity':'1','top':'0px'})
                }
                if(topH>ctop2-550){
                    $('#classbox3').find('.text').animate({'opacity':'1','top':'0px'});
                    $('#classbox3').find('.pic').animate({'opacity':'1','top':'0px'});
                }
            })

            //ie6 相对浏览器固定定位的兼容代码，原因是ie6不识别position:fixed属性。 !window.XMLHttpRequest是为了指向ie6浏览器
            if(!window.XMLHttpRequest){
                $(window).scroll( function(){
                    var backtop=$(document).scrollTop()+300;
                    $('.backtotop,.backtobottom').css({position:"absolute",top:backtop});
                })
            };

            //除ie6以外的浏览器定位backtotop直接用样式就可以实现。下面这段代码是为了控制backtotop的显示和隐藏。
            $(window).scroll( function(){
                if( $(document).scrollTop() > $('.weishubox').offset().top){
                    $('.backtotop,.backtobottom').show();
                }else{
                    $('.backtotop,.backtobottom').hide();
                };
            })

            //返回顶部实现代码
            $('.backtotop').click(function(){
                $(document).scrollTop(0);
            });

        });
    </script>
    <script>

        var _slidebody=$('.scroll');
        var _slidebodyul=$('.srollList ul');
        var _lslideleft=$('.slide .left');
        var _lslideright=$('.slide .right');
        var _everyWidth=$('.scroll ul li').outerWidth(true);
        var _lengthLi=$('.srollList ul li').length;

        var m=0;  //控制全部图片滚动。
        var n=0;  //控制每一个图滚动。
        var _totolWidth=0;
        var _intervalID=null;
        var _intervalLi=null;
        var _time1=5; //每一个图滚动的时间。
        var _time2=3000; //每一个图停留的时间。


        _slidebodyul.width( _everyWidth * _lengthLi);
        $('.scroll .srollList').width(_slidebodyul.width() * 2);
        _slidebodyul.clone().appendTo($('.scroll .srollList'));

        function _slideleft(key){
            if(m < _slidebodyul.width()){
                m=_slidebody.scrollLeft();
                m += 1; //1代表每次滑动1个li.
                n += 1;
                if(key=='up'&& (n%_everyWidth == 0)){
                    n=0;
                    go();
                }
            }else{
                m=0;
            }
            _slidebody.scrollLeft(m);
        };

        function _slideright(key){
            if(_slidebody.scrollLeft() <= 0){
                m= _slidebodyul.width();
                n= _slidebodyul.width();
            }else{
                m=_slidebody.scrollLeft();
                m -= 1; //1代表每次滑动1个li.
                n -= 1;
                if(key=='up' && (n%_everyWidth == 0)){
                    n=0;
                    go();
                }
            }
            _slidebody.scrollLeft(m);
        };

        _lslideleft.mousedown(function(){
            window.clearInterval(_intervalID);
            window.clearInterval(_intervalLi);
            _intervalID=window.setInterval( function(){_slideright()}, _time1);
        });

        _lslideleft.mouseup(function(){
            window.clearInterval(_intervalID);
            _intervalID=window.setInterval( function(){_slideright('up')}, _time1);
        });

        _lslideright.mousedown(function(){
            window.clearInterval(_intervalID);
            window.clearInterval(_intervalLi);
            _intervalID=window.setInterval( function(){_slideleft()}, _time1);
        });

        _lslideright.mouseup(function(){
            window.clearInterval(_intervalID);
            _intervalID=window.setInterval( function(){_slideleft('up')}, _time1);
        });

        var go= function(){
            window.clearInterval(_intervalID);
            _intervalLi=window.setTimeout( function(){
                _intervalID=window.setInterval( function(){_slideleft('up')}, _time1);
            }, _time2);
        };

        $('.scroll ul li').hover(function(){
            window.clearInterval(_intervalID);
            window.clearInterval(_intervalLi);
        },function(){
            _intervalLi=window.setTimeout( function(){
                _intervalID=window.setInterval( function(){_slideleft('up')}, _time1);
            }, _time2);
        })

        go();

    </script>
{% endblock body_end %}
