{% extends "AppWebBundle::member.html.twig" %}

{% block title %}我的课程 - 学习空间 - 微述{% endblock %}

{% block right_tab %}
    <h3>
        {{ knp_menu_render('member_course_tab', {'currentClass': 'cur'}) }}
    </h3>
{% endblock right_tab %}

{% block right_content %}
    <div class="curselist">
        <ul class="height230 row">
            {% for cx in cxs %}
            <li>
                <a href="{{ path('course_show', {'slug': cx.course.slug}) }}"><img src="{{ img_host ~ cx.course.cover }}" width="270" height="160"></a>
                <dl>
                    <dt class="cursename"><a href="{{ path('course_show', {'slug': cx.course.slug}) }}" target="_blank">
                            {{ cx.course.title|length > 10 ? cx.course.title[:10] ~ '...' : cx.course.title }}
                        </a></dt>
                    <dd>
                        {% if cx.percent|default(0) %}
                        <p class="progress"><span></span><span class="{% if cx.percent == 100 %}green{% endif %}{% if cx.percent < 100 %}yellow{% endif %}" style="width:{{ cx.percent }}%"></span></p>
                        {% endif %}
                    </dd>
                    <dd class="info">
                        {% if cx.percent|default(0) and cx.percent < 100 %}
                        <a class="right" href="{{ path('course_show', {'slug': cx.course.slug}) }}">
                            <b class="icons entericon"></b>继续学习
                        </a>{{ cx.created|date('Y-m-d') }}
                        {% endif %}
                    </dd>
                    {% if cx.percent|default(0) and cx.percent == 100 %}
                        <dd class="info green">完成学习</dd>
                    {% endif %}
                </dl>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock right_content %}