{% extends "AppWebBundle::member.html.twig" %}
{% trans_default_domain 'AppWebBundle' %}
{% block title %}我的经验 - 学习空间 - 微述{% endblock %}
{% block foot_script_assetic %}
    {{ parent() }}
    {% javascripts output="js/scrolload.js"
    '@AppAdminBundle/Resources/public/js/scrolload.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock foot_script_assetic %}
{% block right_content %}
    <div class="expProgress row">
        <span style="width:430px"><em>{{ points|default(0) }}</em>您当前的经验</span>
        <span class="yellow" style="width:300px"><em>{{ loser_percent|default(0) ~ '%' }}</em>的小伙伴被您击败了</span>
    </div>
    <div class="scorelist">
        <p>经验是您在微述网学习获得的，记录点滴努力和成长。一起来做经验土豪吧：）</p>
        <table cellspacing="0" border="0">
            <tbody id="exps">
            {% for exp in exps %}
                <tr>
                    <td width="95px"><span>+{{ exp.points }}</span></td>
                    <td width="150px">{{ exp.created|date('Y-m-d') }}</td>
                    <td width="225px">{{ exp.type|trans() }}</td>
                    <td><a href="{{ exp.uri }}">{{ exp.title }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        var Scrolload = {};
        Scrolload.wrapper = $("#exps");
        Scrolload.url = '{{ next_url|raw }}';
        Scrolload.loading = $("<tr><td colspan='4' class='text-center'><i class='fa fa-spinner fa-spin fa-4x'></i></td></tr>");
    </script>
{% endblock right_content %}