{% trans_default_domain 'AppWebBundle' %}
{% for exp in exps %}
    <tr next-url="{{ next_url|raw }}">
        <td width="95px"><span>+{{ exp.points }}</span></td>
        <td width="150px">{{ exp.created|date('Y-m-d') }}</td>
        <td width="225px">{{ exp.type|trans() }}</td>
        <td><a href="{{ exp.uri }}">{{ exp.title }}</a></td>
    </tr>
{% endfor %}