{% extends "AppWebBundle::member.html.twig" %}

{% block title %}我的消息 - 学习空间 - 微述{% endblock %}


{% block right_content %}
    <div class="setUserInfo">
        <ul class="messagelist">
            <li>
                <b class="icons messicon g-u"></b>
                <dl class="messagedl g-u">
                    <dt><span>2014-12-20<a href="">删除</a></span><a href="">微述每周精选</a></dt>
                    <dd>尊敬的微述用户，您好！由于最近盗号猖獗，为了保障您的帐号安全，我们强烈建议您在微述网绑定手机当帐号存在风险时，我们会及时通知您。如果您已在微述绑定过手机号，请忽略此消息。</dd>
                    <dd class="resource">来源：微述</dd>
                </dl>
            </li>
            <li>
                <b class="icons messicon g-u"></b>
                <dl class="messagedl g-u">
                    <dt><span>2014-12-20<a href="">删除</a></span><a href="">微述每周精选</a></dt>
                    <dd>尊敬的微述用户，您好！由于最近盗号猖獗，为了保障您的帐号安全，我们强烈建议您在微述网绑定手机当帐号存在风险时，我们会及时通知您。如果您已在微述绑定过手机号，请忽略此消息。</dd>
                    <dd class="resource">来源：微述</dd>
                </dl>
            </li>
            <li>
                <b class="icons messicon g-u"></b>
                <dl class="messagedl g-u">
                    <dt><span>2014-12-20<a href="">删除</a></span><a href="">微述每周精选</a></dt>
                    <dd>尊敬的微述用户，您好！由于最近盗号猖獗，为了保障您的帐号安全，我们强烈建议您在微述网绑定手机当帐号存在风险时，我们会及时通知您。如果您已在微述绑定过手机号，请忽略此消息。</dd>
                    <dd class="resource">来源：微述</dd>
                </dl>
            </li>
        </ul>
    </div>
{% endblock right_content %}