{% extends "AppWebBundle::member.html.twig" %}

{% block title %}个人设置 - 学习空间 - 微述{% endblock %}

{% block right_tab %}
    <h3>
        {{ knp_menu_render('member_settings_tab', {'currentClass': 'cur'}) }}
    </h3>
{% endblock right_tab %}

{% block right_content %}
    <style>
        .error li{
            color: red!important;
        }

    </style>
    <div class="setUserInfo">
        <p class="topnotice">完善个人资料是让别人认识你并一起学习交流的第一步</p>
        <form id="user_profile" action="{{ path('member_settings') }}" method="post">
            {{ form_row(form._token) }}
            <div class="setlist">
                <ul>
                    <li>
                        <label for="username" class="classname g-u"><b class="icons red"></b>昵称</label>
                        {{ form_widget(form.nickname) }}
                        <span class="error">{{ form_errors(form.nickname) }}</span>
                    </li>

                    <li>
                        <label class="classname g-u" for=""><b class="icons red"></b>邮箱</label>
                        <div class="email g-u">
                            {{ form_widget(form.email) }}
                            <p class="gray"><b class="icons sucess"></b>用于接收来自平台和课程的邮件通知，非常重要</p>
                        </div>
                        <span class="error">{{ form_errors(form.email) }}</span>
                    </li>
                    <li id="avatar_container">
                        <label for="" class="classname g-u">头像</label>
                        <dl class="touxiang g-u">
                            <dt class="g-u"><img id="avatar_preview" src="{% if app.user.avatar|default('') %}{{ img_host ~ app.user.avatar }}{% else %}{{ default_avatar }}{% endif %}" height="122" width="122" /></dt>
                            <dd class="g-u">
                                <p>支持jpg、gif、png或bmp格式的图片，文件小于1M</p>
                                <p><a id="upload_avatar" class="icons changepic" href="#">修改头像</a></p>
                                {{ form_widget(form.avatar) }}
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <label for="" class="classname g-u">性别</label>
                        <div class="radiolist g-u">
                            {{ form_widget(form.gender) }}
                        </div>
                    </li>
                    <li>
                        <label for="" class="classname g-u">个性签名</label>
                        {{ form_widget(form.signature) }}
                    </li>
                    <li><input style="text-indent: 100000px;" class="icons submit" type="submit" value="Save"/></li>
                </ul>
            </div>
        </form>
    </div>
{% endblock right_content %}

{% block foot_script_assetic %}
    {{ parent() }}
    {% javascripts output="js/plupload.js"
    '@AppWebBundle/Resources/public/components/plupload/js/moxie.js'
    '@AppWebBundle/Resources/public/components/plupload/js/plupload.dev.js'
    '@AppWebBundle/Resources/public/components/plupload/js/i18n/zh_CN.js'
    '@AppWebBundle/Resources/public/components/jquery-validation/dist/jquery.validate.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        //表单验证
        $().ready(function(){
            $("#user_profile").validate({
                rules: {
                    'user_profile[nickname]': {
                        required: true,
                        minlength: 2
                    },
                    'user_profile[email]': {
                        required: true,
                        email: true
                    }
                },
                messages: {
                    'user_profile[nickname]': {
                        required: '昵称未填写！',
                        minlength: '昵称最少为两个字符！'
                    },
                    'user_profile[email]': {
                        required: '邮箱未填写！',
                        email: '邮箱格式不对！'
                    }
                }
            });

        });
        //上传图像
        var uploader = new plupload.Uploader({
            runtimes : 'html5,flash,silverlight,html4',
            browse_button : 'upload_avatar',
            flash_swf_url : '{{ asset('bundles/appweb/components/plupload/js/Moxie.swf') }}',
            silverlight_xap_url : '{{ asset('bundles/appweb/components/plupload/js/Moxie.xap') }}',
            multi_selection: false,
            container: document.getElementById('avatar_container'),
            url: '{{ path('member_upload_avatar') }}',
            filters : {
                // Maximum file size
                max_file_size : '1mb',
                // Specify what files to browse for
                mime_types: [
                    {title : "avatar", extensions : "jpg,gif,png,bmp"}
                ]
            },
            init: {
                PostInit: function() {
                },
                FilesAdded: function(up, files) {
                    uploader.start();
                },
                FileUploaded: function(up, file, info) {
                    $("#avatar_preview").attr('src', '{{ img_host }}' + info.response);
                    $("#user_profile_avatar").val(info.response);
                },
                Error: function(up, err) {
                    //document.getElementById('console').innerHTML += "\nError #" + err.code + ": " + err.message;
                    console.log(err.code);
                }
            }
        });
        uploader.init();

    </script>
{% endblock foot_script_assetic %}
