{% extends "AppWebBundle::Member/settings.html.twig" %}

{% block title %}隐私设置 - 学习空间 - 微述{% endblock %}

{% block right_content %}
    <div class="setUserInfo">
        <p class="topnotice">他人在我的个人主页所能看到的内容：</p>
        <ul class="yinsi">
            <li><input type="checkbox" value="" id="yinsi"/><label for="yinsi">在学的课程或计划</label></li>
            <li><input class="icons submit" type="submit" value=""/></li>
        </ul>
    </div>
{% endblock right_content %}