{% extends "AppWebBundle::Member/settings.html.twig" %}

{% block title %}邮件设置 - 学习空间 - 微述{% endblock %}


{% block right_content %}
    <div class="setUserInfo">
        <dl class="setother">
            <dt>微述每周精选</dt>
            <dd class="mid"><input type="checkbox" value="" id="state1"/><label for="state1">订阅微述每周精选</label></dd>
            <dd><input class="icons submit" type="submit" value=""/></dd>
        </dl>
    </div>
{% endblock right_content %}