{% extends "AppWebBundle::Member/settings.html.twig" %}

{% block title %}账户设置 - 学习空间 - 微述{% endblock %}

{% block right_content %}
    <div class="setUserInfo">
        <div>
            {{ form_errors(form) }}
        </div>
        <dl class="setother">
            <dt>帐号基本信息</dt>
            <dd>
                <span>登录帐号：</span>
                <span>{{ app.user.email }}</span>
                <!--<a href="#">修改密码</a>-->
                <div class="setlist">
                    <form id="change_password" method="post" action="{{ path('member_settings_account') }}">
                        {{ form_row(form._token) }}
                    <ul>
                        <li>
                            <label for="change_password_current_password" class="classname g-u">当前密码</label>
                            {{ form_widget(form.current_password) }}
                        </li>
                        <li>
                            {{ form_widget(form.plainPassword) }}
                        </li>
                        <li>
                            <input class="icons submit" type="submit" value="保存" style="text-indent: 10000px;" />
                        </li>
                    </ul>
                    </form>
                </div>
            </dd>
            <!--<dd><span>个人主页：</span><span>http://veishu.com/u/<em>100001</em></span><a href="">修改</a></dd>-->
        </dl>
    </div>
{% endblock right_content %}