{% extends "AppWebBundle::Member/settings.html.twig" %}

{% block title %}通知设置 - 学习空间 - 微述{% endblock %}


{% block right_content %}
    <div class="setUserInfo">
        <p class="topnotice">有以下情况时发通知给我</p>
        <ul class="yinsi row">
            <li><input type="checkbox" value="" id="state1"/><label for="state1">我学习的课程有更新时</label></li>
            <li><input type="checkbox" value="" id="state2"/><label for="state2">有新上线的课程时</label></li>
            <li><input type="checkbox" value="" id="state3"/><label for="state3">有人给我留言了</label></li>
            <li><input type="checkbox" value="" id="state4"/><label for="state4">有人评论了我的回复时</label></li>
            <li><input type="checkbox" value="" id="state5"/><label for="state5">有人评论了我的回复时</label></li>
            <li>&nbsp;</li>
            <li><input class="icons submit" type="submit" value=""/></li>
        </ul>
    </div>
{% endblock right_content %}