{% extends "AppWebBundle::member.html.twig" %}

{% block title %}我的视频 - 学习空间 - 微述{% endblock %}

{% block right_tab %}
    <h3>
        {{ knp_menu_render('member_video_tab', {'currentClass': 'cur'}) }}
    </h3>
{% endblock right_tab %}

{% block body_end %}
    <script>
        var del_url = "{{ del_url }}";

        $(document).ready(function(){
            $(".icons.del").click(function(e){
                e.stopPropagation();
                var self = $(this);
                var data = {
                    vid: self.attr('vid')
                };
                $.ajax({
                    url: del_url,
                    type: 'DELETE',
                    data: data,
                    dataType: 'json',
                    complete: function(response){
                        if(response.status == 200){
                            self.parent('li').fadeOut();
                        }
                    }
                });
                return false;
            });
        });
    </script>
{% endblock body_end %}

{% block right_content %}
    <div class="curselist">
        <ul class="height210 row">
            {% for vx in vxs %}
            <li>
                <a href="#" vid="{{ vx.video.id }}" class="icons del"></a>
                <a href="{{ path('video_show', {'slug': vx.video.slug|default(vx.video.number)}) }}">
                    <img src="{{ img_host ~ vx.video.cover }}" width="270" height="160">
                </a>
                <dl>
                    <dt class="cursename">
                        <a href="{{ path('video_show', {'slug': vx.video.slug|default(vx.video.number)}) }}" target="_blank">
                            {{ vx.video.title|length > 10 ? vx.video.title[:10] ~ '...' : vx.video.title }}
                        </a>
                    </dt>
                    <dd class="videoinfo">{{ vx.created|date('Y-m-d') }}开始学习</dd>
                </dl>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock right_content %}