{% extends "AppAdminBundle::layout.html.twig" %}
{% trans_default_domain 'admin' %}

{% block content_sidebar %}
<h1 class="page-header">{{ 'app.admin.dashboard'|trans() }}</h1>

<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <div class="rounded orange" id="uploaded-video">{{ video.uploaded.count|default(0) }}</div>
        <h4>集</h4>
        <span class="text-muted">录入视频</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <div class="rounded sky" id="public-video">{{ (video.uploaded.size / 1024 / 1024 / 1024)|number_format(2, '.') }}</div>
        <h4>GB</h4>
        <span class="text-muted">视频大小</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <div class="rounded gray" id="public-video">{{ video.uploaded.duration|default('未知') }}</div>
        <h4>小时</h4>
        <span class="text-muted">视频时长</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <div class="rounded olive" id="public-video">{{ course.uploaded.total|default('未知') }}</div>
        <h4>套</h4>
        <span class="text-muted">课程</span>
    </div>
</div>

<h2 class="sub-header">你可以做什么？</h2>
<div class="col-md-12">
    <div class="col-md-2 vcenter text-center">
        <div class="col-lg-12">
            <a href="{{ path('app_admin_video_upload') }}"><i class="fa fa-upload fa-5x"></i></a>
        </div>
        <h3>上传视频资源</h3>
    </div>
    <div class="col-md-1 vcenter text-center">
        <i class="fa fa-chevron-right fa-3x"></i>
    </div>
    <div class="col-md-2 vcenter text-center">
        <div class="col-lg-12"><a href="{{ path('app_admin_image_upload') }}"><i class="fa fa-image fa-5x"></i></a></div>
        <h3>上传图片文件</h3>
    </div>
    <div class="col-md-1 vcenter text-center">
        <i class="fa fa-chevron-right fa-3x"></i>
    </div>
    <div class="col-md-2 vcenter text-center">
        <div class="col-lg-12">
            <a href="{{ path('admin_video_new') }}"><i class="fa fa-file-text fa-5x"></i></a>
        </div>
        <h3>创建视频内容</h3>
    </div>
    <div class="col-md-1 vcenter text-center">
        <i class="fa fa-chevron-right fa-3x"></i>
    </div>
    <div class="col-md-2 vcenter text-center">
        <div class="col-lg-12"><a href="{{ path('admin_video') }}"><i class="fa fa-pencil-square fa-5x"></i></a></div>
        <h3>编辑视频信息</h3>
    </div>
</div>
{% endblock content_sidebar %}

