{% extends "AppAdminBundle::layout.html.twig" %}
{% trans_default_domain 'admin' %}

{% block content_sidebar %}
<h1 class="page-header">{{ course.title }}</h1>

    <ul class="list list-inline">
        <li>
            <a href="{{ path('admin_course') }}">
                <i class="fa fa-reply"></i>&nbsp;返回列表
            </a>
        </li>
    </ul>

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('failed') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

<form class="form-horizontal" method="post" id="course">
    <fieldset>
        <legend><i class="fa fa-pencil"></i>&nbsp;修改</legend>

        <div class="form-group">
            <label class="control-label col-md-2">编号</label>
            <div class="col-md-6">
                <input type="text" class="form-control" name="course[number]" required="required" value="{{ course.number }}" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">标题</label>
            <div class="col-md-6">
                <input type="text" class="form-control" name="course[title]" required="required" value="{{ course.title }}" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">简介</label>
            <div class="col-md-6">
                <textarea type="text" class="form-control" name="course[description]">{{ course.description }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Slug</label>
            <div class="col-md-6">
                <input type="text" class="form-control" name="course[slug]" required="required" value="{{ course.slug }}" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">封面</label>
            <div class="col-md-6">
                <input type="text" class="form-control" name="course[cover]" value="{{ course.cover }}" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">顺序权重</label>
            <div class="col-md-6">
                <input type="number" class="form-control" name="course[position]" value="{{ course.position }}" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6 col-md-offset-2">
                <button type="submit" name="save" class="btn btn-primary">提交</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock content_sidebar %}

{% block foot_script_assetic %}
    {% javascripts output="js/vlidate.js"
    '@AppWebBundle/Resources/public/components/jquery-validation/dist/jquery.validate.js'
    '@AppWebBundle/Resources/public/components/jquery-validation/src/localization/messages_zh.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        jQuery(function($){
            $().ready(function(){
                //表单验证
                $("#course").validate({
                    highlight: function(element) {
                        $(element).closest('.form-group').addClass('has-error');
                    },
                    unhighlight: function(element) {
                        $(element).closest('.form-group').removeClass('has-error');
                    },
                    errorElement: 'span',
                    errorClass: 'help-block',
                    errorPlacement: function(error, element) {
                        if(element.parent('.input-group').length) {
                            error.insertAfter(element.parent());
                        } else {
                            error.insertAfter(element);
                        }
                    }
                });
            })
        })

    </script>
{% endblock foot_script_assetic %}