{% extends "AppAdminBundle::layout.html.twig" %}
{% trans_default_domain 'admin' %}

{% block content_sidebar %}
<h1 class="page-header">课程管理</h1>

    <ul class="list list-inline">
        <li>
            <a href="{{ path('admin_course_add') }}">
                <i class="fa fa-plus-square-o"></i>&nbsp;创建课程
            </a>
        </li>
    </ul>

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('failed') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <th>编号</th>
        <th>标题</th>
        <th>封面</th>
        <th>简介</th>
        <th>Slug</th>
        <th></th>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>{{ course.number }}</td>
                <td>{{ course.title }}</td>
                <td>{{ course.cover }}</td>
                <td>{{ course.description }}</td>
                <td>{{ course.slug }}</td>
                <td><a href="{{ path('admin_course_edit', {'id': course.id}) }}"><i class="fa fa-pencil"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}