{% extends "AppAdminBundle::layout.html.twig" %}
{% trans_default_domain 'admin' %}

{% block foot_script_assetic %}
    {{ parent() }}
    {% javascripts output="js/scrolload.js"
    '@AppAdminBundle/Resources/public/js/scrolload.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock foot_script_assetic %}

{% block content_sidebar %}
    <h1 class="page-header">{{ 'app.admin.video'|trans() }}</h1>

    <div class="upload">
        <a href="{{ path('app_admin_video_upload') }}" class="btn btn-primary">{{ 'app.button.upload'|trans() }}</a>
    </div>


    <h2 class="sub-header"></h2>
    <div class="table-responsive">
        <table id="scroll-content" class="table table-striped">
            <thead>
            <tr>
                <th>云端储存号</th>
                <th>文件名</th>
                <th>文件大小</th>
                <th>视频地址</th>
                <th>{{ 'app.field.date'|trans() }}</th>
            </tr>
            </thead>
            <tbody>
            {% for object in objects %}
            <tr>
                <td>{{ object.eTag }}</td>
                <td>{{ object.key }}</td>
                <td>{{ (object.size / 1024 / 1024)|number_format(2, '.') ~ ' MB' }}</td>
                <td>{{ video_host }}{{ object.key }}</td>
                <td>{{ object.lastModified|date("Y/m/d h:i:s") }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        var Scrolload = {};
        Scrolload.wrapper = $("#scroll-content tbody");
        Scrolload.url = '{{ path('app_admin_video_scroll', {'marker': marker}) }}';
        Scrolload.loading = $("<tr><td colspan='5' class='text-center'><li class='fa fa-spinner fa-spin fa-4x'></li></td></tr>");
    </script>
{% endblock content_sidebar %}


