{% for object in objects %}
<tr next-url="{{ path('app_admin_video_scroll', {'marker': marker}) }}">
    <td>{{ object.eTag }}</td>
    <td>{{ object.key }}</td>
    <td>{{ (object.size / 1024 / 1024)|number_format(2, '.') ~ ' MB' }}</td>
    <td>{{ video_host }}{{ object.key }}</td>
    <td>{{ object.lastModified|date("Y/m/d h:i:s") }}</td>
</tr>
{% endfor %}