{% extends "AppAdminBundle::layout.html.twig" %}
{% trans_default_domain 'admin' %}
{% block head_style %}
    {{ parent() }}
    {% stylesheets
    '@AppWebBundle/Resources/public/components/plupload/js/jquery.plupload.queue/css/jquery.plupload.queue.css'
    filter="css_url_rewrite"
    %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock head_style %}

{% block foot_script_assetic %}
    {{ parent() }}
    {% javascripts output="js/plupload.js"
    '@AppWebBundle/Resources/public/components/plupload/js/moxie.js'
    '@AppWebBundle/Resources/public/components/plupload/js/plupload.dev.js'
    '@AppWebBundle/Resources/public/components/plupload/js/jquery.plupload.queue/jquery.plupload.queue.js'
    '@AppWebBundle/Resources/public/components/plupload/js/i18n/zh_CN.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock foot_script_assetic %}


{% block content_sidebar %}
    <h1 class="page-header">{{ 'app.button.upload'|trans() }}</h1>

    <div class="uploader">
        <h4><span class="glyphicon glyphicon-film"></span> {{ 'app.admin.video'|trans() }}</h4>
        <form action="{{ path('app_admin_video_upload') }}" method="POST" id="video_upload_form" class="form-upload" role="form">
            <div id="video-uploader">
                <p>Your browser doesn't have Flash, Silverlight or HTML5 support.</p>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        $(function() {

            // Setup html5 version
            $("#video-uploader").pluploadQueue({
                // General settings
                runtimes : 'html5,flash,silverlight,html4',
                url : '{{ path('app_admin_video_upload') }}',
                chunk_size: '200mb',
                rename : false,
                dragdrop: true,

                filters : {
                    // Maximum file size
                    max_file_size : '200mb',
                    // Specify what files to browse for
                    mime_types: [
                        {title : "Video files", extensions : "mp4"}
                    ]
                },

                flash_swf_url : '{{ asset('bundles/appweb/components/plupload/js/Moxie.swf') }}',
                silverlight_xap_url : '{{ asset('bundles/appweb/components/plupload/js/Moxie.xap') }}',
                init : {
                    UploadComplete: function() {
                        $("form#video_upload_form").submit();
                    }
                }
            });

        });
    </script>
{% endblock content_sidebar %}

