@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-webkit-appearance:none;}
body{font:14px/1.5 microsoft yahei,arial,helvetica,sans-serif;color:#333;}
ul{list-style-type:none;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}
input,select,textarea{vertical-align:middle;font:14px microsoft yahei,arial,helvetica,sans-serif;color:#333;outline:0;-webkit-tap-highlight-color:rgba(0,0,0,0);}
a:link,a:hover,a:active,a:visited{text-decoration:none;color:#333;-webkit-tap-highlight-color:rgba(0,0,0,0);}
table{border-spacing:0px; border-collapse:collapse;width:100%; border:0px;margin:0;padding:0;}
img{border:0px;}
em{font-style:normal;}
.clearfix{overflow:hidden;zoom:1;}
.clear:after{clear:both;content:'.';display:block;height:0;overflow:hidden;visibility:hidden;}
.fl{float:left;}
.fr{float:right;}