@charset "utf-8";
/* CSS Document */

/*搜索按钮*/
.btnSs{width:40px; height:40px; position:fixed; display:inline-block; right:15px; bottom:15px; background:url(../img/ss.png) no-repeat; background-size:contain;}

/*视频推荐*/
.mvShow{height:180px; position:relative;}
.mvShow .pic{width:100%; height:100%;}
.mvShow .infor{ position:absolute; z-index:9; width:100%; bottom:0; left:0; background:rgba(0,0,0,.6); font-size:13px; color:#FFF; height:20px; line-height:20px; padding:0 80px 0 10px;overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.mv-box{padding-bottom:5px;}
.u-ttl3{ height:40px; line-height:20px; padding:10px 0 10px 10px;}
.u-ttl3 .more{ height:100%; font-size:12px; color:#999; padding-right:8px; background:url(../img/icon1.png) right center no-repeat; background-size:6px 10px;margin-right:12px;}
.u-ttl3 h3{ padding:0 12px 0 5px; border-left:5px solid #1182ff;}
.u-mv li{margin-top:5px; border-top:1px solid #d9d9d9;border-bottom:1px solid #d9d9d9; background:#FFF;}
.m-mv li:first-child{margin-top:0;}
.u-mv li a{ height:89px; display:-webkit-box;}
.u-mv li .img{height:100%; max-width:50%;overflow:hidden;}
.u-mv li .img img{height:100%;}
.u-mv li .infor{height:100%; -webkit-box-flex:1; padding:7px 15px 7px 10px;}
.u-mv li .infor h3{ line-height:16px; max-height:32px; overflow:hidden; margin-bottom:7px;}
.u-mv li .infor p{ font-size:12px; color:#999; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; width:100%; color:#999; line-height:15px;}

/*搜索页面*/
.m-search{padding:10px;}
.m-input{width:100%; display:-webkit-box; height:31px; -webkit-box-align:center;}
.m-input *{ display:block;}
.m-input .sinput{ -webkit-box-flex:1;border:1px solid #d9d9d9; height:100%; border-radius:3px; background:#FFF;display:-webkit-box;}
.m-input .sinput .icons{width:29px; height:100%; background:url(../img/icon7.png) center center no-repeat; background-size:9px 17px;}
.m-input .sinput .txt{ height:100%; -webkit-box-flex:1; padding-right:10px; border:0; background:transparent;}
.m-input .btn{width:50px; height:25px; line-height:25px; border:1px solid #d9d9d9; text-align:center; margin-left:11px; color:#666;}


/*视频播放*/
.videoBox{height:390px; position:fixed; z-index:9;top:0; left:0; right:0; overflow:hidden; background:#000; -webkit-box-shadow:0 0 4px rgba(0,0,0,.6);}
.videoBox .icon{ position:absolute; width:52px; height:52px; top:50%; left:50%; margin:-26px 0 0 -26px; z-index:9; background:url(../img/play.png) no-repeat; background-size:contain;}
.play_pos{ height:441px;background:#ebebeb;}
.tabs{height:51px; display:-webkit-box; border-bottom:1px solid #d9d9d9; font-size:15px; width:100%; position:fixed; z-index:9; left:0;top:390px;background:#ebebeb;}
.tabs a{ -webkit-box-flex:1;height:50px; line-height:50px; display:block; position:relative;text-align:center; cursor:pointer;}
.tabs a::before{ position:absolute; content:""; width:1px; height:16px; background:#d9d9d9; top:17px; right:0;}
.tabs a:nth-last-child(1)::before{width:0;height:0;}
.tabs a.active{color:#1182ff;}
.tabs a.active::after{width:26px; height:2px; background:#1182ff; position:absolute; left:50%; margin-left:-13px; bottom:0; content:"";}
.tabs_con > div{ display:none;}
@media (max-width:640px){
    .videoBox{position:fixed;height:200px;top:0; left:0; overflow:hidden; background:#000; -webkit-box-shadow:0 0 4px rgba(0,0,0,.6);}
    .tabs{ top:200px;}
    .play_pos{ height:251px;}
}
@media (max-width:330px){
    .videoBox{position:fixed;height:180px;top:0;left:0; overflow:hidden; background:#000; -webkit-box-shadow:0 0 4px rgba(0,0,0,.6);}
    .tabs{ top:180px;}
    .play_pos{ height:231px;}
}
.detail{padding:0 10px;}
.detail .list{padding:7px 0 14px; border-bottom:1px solid #d9d9d9;}
.detail .list h3{ margin-bottom:6px; font-weight:bold; color:#000; font-size:16px;}
.detail .list aside{ font-size:15px; color:#323131; margin-bottom:3px;}
.detail .list p{ font-size:14px; color:#666; text-indent:2em; line-height:21px;}
.detail .list:last-child{ border-bottom:0;}
.antho{padding:0 5px;}
.antho li{width:50%; float:left; margin-top:10px; padding:0 5px;}
.antho li a{ height:50px; border:1px solid #1182ff; border-radius:3px; color:#666; display:-webkit-box; -webkit-box-orient:vertical; -webkit-box-align:center; padding:0 10px;}
.antho li p{ line-height:23px; font-size:13px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; width:100%; text-align:center; }
.antho li.cur a{ background:#1182ff; color:#FFF;}
.review li{ display:-webkit-box;}
.review li .img{width:40px; height:40px; margin:7px 5px 0;}
.review li .img img{ border-radius:50%; width:100%; height:100%;}
.review li .infor{ border-bottom:1px solid #d9d9d9; padding:9px 11px 4px 4px; -webkit-box-flex:1;}
.review li .infor .art{ font-size:14px; line-height:18px; margin-bottom:6px;}
.review li .infor .aside{ font-size:10px; color:#999;}
.msgInputBox{ height:42px; border-top:1px solid #d9d9d9; background:#fafafa; position:fixed; z-index:10; bottom:0; left:0; width:100%; padding:0 10px 0 8px;}
.msgInputBox panel{ display:-webkit-box; width:100%; height:42px; -webkit-box-align:center;}
.msgInputBox panel > *{ display:block;}
.msgInputBox .img{width:28px; height:28px; border-radius:3px;}
.msgInputBox .txt{height:30px; -webkit-box-flex:1; border:1px solid #bfbfbf; border-radius:3px; padding:0 10px; margin:0 10px 0 8px;}
.msgInputBox .msgBtn{width:50px; height:30px; border:1px solid #bfbfbf; border-radius:3px; text-align:center; line-height:30px; color:#999;}
.msgInputBox .msgBtnC{ background:#1182ff; border:0; color:#FFF;}
