{% extends 'AppAdminBundle::Video/index.html.twig' %}

{% block content_sidebar %}
    <h1 class="page-header">视频列表</h1>
<a href="{{ path('admin_video_new') }}"><i class="fa fa-plus-square"></i>&nbsp;创建视频内容</a>
<div class="table-responsive">
    <table id="scroll-content" class="table table-striped">
        <thead>
            <tr>
                <th>编号</th>
                <th>标题</th>
                <th>时长</th>
                <th>视频资源</th>
                <th>主讲人</th>
                <th>主讲人职称/头衔</th>
                <th>可售</th>
                <th>已发布</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.number }}</td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.cover }}</td>
                <td>{{ entity.source }}</td>
                <td>{{ entity.speaker }}</td>
                <td>{{ entity.speakerTitle }}</td>
                <td>{{ entity.allowSale?'<i class="fa fa-check-square alert-success"></i>'|raw:'<i class="fa fa-minus-circle alert-danger"></i>'|raw }}</td>
                <td>{{ entity.status?'<i class="fa fa-check-square alert-success"></i>'|raw:'<i class="fa fa-minus-circle alert-danger"></i>'|raw }}</td>
                <td>
                    <a href="{{ path('admin_video_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}