{% extends 'AppAdminBundle::Video/index.html.twig' %}

{% block content_sidebar %}
    <h1 class="page-title">创建视频内容</h1>
    <ul class="list list-inline">
        <li>
            <a href="{{ path('admin_video') }}">
                <i class="fa fa-reply"></i>&nbsp;返回
            </a>
        </li>
    </ul>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage|raw }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('failed') %}
        <div class="alert alert-danger">
            {{ flashMessage|raw }}
        </div>
    {% endfor %}

    <form name="media_video" id="media_video" class="form-horizontal" action="{{ path('admin_video_create')}}" method="post">

        <fieldset>

            <legend><i class="fa fa-tags"></i>&nbsp;分类信息</legend>

            <!-- list -->
            <div class="form-group">
                <label class="control-label col-md-1" for="category">一级分类</label>
                <div class="col-md-3">
                    <select class="form-control" name="category[id]"  required="required" id="category">
                        {% for cate in categories %}
                            <option value="{{ cate.id }}" {% if cate.id == cid %}selected="selected"{% endif %}>{{ cate.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <label class="control-label col-md-1" for="term">二级分类</label>
                <div class="col-md-3">
                    <select class="form-control" name="term[id]" required="required" id="term">
                        {% for cate_term in cate_terms %}
                            <option value="{{ cate_term.id }}" {% if cate_term.id == tid %}selected="selected"{% endif %}>{{ cate_term.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend><i class="fa fa-graduation-cap"></i>&nbsp;课程信息</legend>

            <!--list-->
            <div class="form-group">
                <label class="control-label col-md-1" for="course">所属课程</label>
                <div class="col-md-3">
                    <select class="form-control" name="course[id]" id="course">
                        <option value="" selected="selected">------</option>
                        {% for cs in courses %}
                            <option value="{{ cs.id }}">{{ cs.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <label class="control-label col-md-1" for="delta">课程内序列</label>
                <div class="col-md-3">
                    <input class="form-control" type="number" id="delta" name="course_video[delta]" value="0" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-1" for="chapter">章节名称</label>
                <div class="col-md-3">
                    <input class="form-control" type="text" id="chapter" name="course_video[chapter]" value="" />
                </div>
                <label class="control-label col-md-1" for="only_in_course">显示设置</label>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="media_video_onlyInCourse">
                            {{ form_widget(form.onlyInCourse) }}
                            只在课程内显示
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend><i class="fa fa-paperclip"></i>&nbsp;视频节点</legend>
            <div id="snapshots">
                <div class="snapshot form-group">
                    <label class="control-label col-md-1">知识点</label>
                    <div class="col-md-3">
                        <div class="input-group">
                            <span class="input-group-addon">播放第</span>
                            <input class="form-control" type="number" name="snapshot[point][]" />
                            <span class="input-group-addon">秒</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">说明</span>
                            <input class="form-control" type="text" name="snapshot[summary][]" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8">
                    <button type="button" id="snapshot_add_row" class="btn btn-success">新加一行</button>
                </div>
            </div>
        </fieldset>

        <fieldset>

            <!-- Form Name -->
            <legend><i class="fa fa-reorder"></i>&nbsp;详细信息</legend>

            <!-- Text input-->
            <div class="form-group">
                {{ form_label(form.number, null, {'label_attr': {'class': 'col-md-1 control-label'}}) }}
                <div class="col-md-3">
                    {{ form_widget(form.number, {'attr': {'class': 'form-control input-md'}}) }}
                    <span class="help-block">编号</span>
                </div>
                {{ form_label(form.title, null, {'label_attr': {'class': 'col-md-1 control-label'}}) }}
                <div class="col-md-3">
                    {{ form_widget(form.title, {'attr': {'class': 'form-control input-md'}}) }}
                    <span class="help-block">标题</span>
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                {{ form_label(form.format, null, {'label_attr': {'class': 'col-md-1 control-label'}}) }}
                <div class="col-md-3">
                    {{ form_widget(form.format, {'attr': {'class': 'form-control input-md'}}) }}
                    <span class="help-block">格式</span>
                </div>
                {{ form_label(form.duration, null, {'label_attr': {'class': 'col-md-1 control-label'}}) }}
                <div class="col-md-3">
                    <div class="input-group">
                        {{ form_widget(form.duration, {'attr': {'class': 'form-control'}}) }}
                        <span class="input-group-addon">秒</span>
                    </div>
                    <p class="help-block">时长</p>
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                {{ form_label(form.cover, null, {'label_attr': {'class': 'col-md-1 control-label'}}) }}
                <div class="col-md-3">
                    {{ form_widget(form.cover, {'attr': {'class': 'form-control input-md'}}) }}
                    <span class="help-block">封面</span>
                </div>
                {{ form_label(form.source, null, {'label_attr': {'class': 'col-md-1 control-label'}}) }}
                <div class="col-md-3">
                    {{ form_widget(form.source, {'attr': {'class': 'form-control input-md'}}) }}
                    <span class="help-block">视频</span>
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                {{ form_label(form.description, null, {'label_attr': {'class': 'col-md-1 control-label'}}) }}
                <div class="col-md-3">
                    {{ form_widget(form.description, {'attr': {'class': 'form-control input-md'}}) }}
                    <span class="help-block">描述</span>
                </div>
                {{ form_label(form.speaker, null, {'label_attr': {'class': 'col-md-1 control-label'}}) }}
                <div class="col-md-3">
                    {{ form_widget(form.speaker, {'attr': {'class': 'form-control input-md'}}) }}
                    <span class="help-block">主讲人</span>
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                {{ form_label(form.speakerTitle, null, {'label_attr': {'class': 'col-md-1 control-label'}}) }}
                <div class="col-md-3">
                    {{ form_widget(form.speakerTitle, {'attr': {'class': 'form-control input-md'}}) }}
                    <span class="help-block">主讲人职称/头衔</span>
                </div>
                {{ form_label(form.speakerAvatar, null, {'label_attr': {'class': 'col-md-1 control-label'}}) }}
                <div class="col-md-3">
                    {{ form_widget(form.speakerAvatar, {'attr': {'class': 'form-control input-md'}}) }}
                    <span class="help-block">主讲人头像</span>
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                {{ form_label(form.speakerIntro, null, {'label_attr': {'class': 'col-md-1 control-label'}}) }}
                <div class="col-md-3">
                    {{ form_widget(form.speakerIntro, {'attr': {'class': 'form-control input-md'}}) }}
                    <span class="help-block">主讲人简介</span>
                </div>
                {{ form_label(form.size, null, {'label_attr': {'class': 'col-md-1 control-label'}}) }}
                <div class="col-md-3">
                    <div class="input-group">
                        {{ form_widget(form.size, {'attr': {'class': 'form-control input-md'}}) }}
                        <span class="input-group-addon">M</span>
                    </div>
                    <p class="help-block">视频大小</p>
                </div>
            </div>
            <!-- Multiple Checkboxes -->
            <div class="form-group">
                <label class="col-md-1 control-label" >Allow sale</label>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label for="media_video_allowSale">
                            {{ form_widget(form.allowSale) }}
                            是否可售
                        </label>
                    </div>
                </div>
                <label class="col-md-1 control-label" for="media_video_status">Status</label>
                <div class="col-md-3">
                    {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                {{ form_label(form.slug, null, {'label_attr': {'class': 'col-md-1 control-label'}}) }}
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon">{{ url('app_web_home') ~ 'video/' }}</span>
                        {{ form_widget(form.slug, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <p class="help-block">填写英文或拼音名称</p>
                </div>
                {{ form_label(form.position, null, {'label_attr': {'class': 'col-md-1 control-label'}}) }}
                <div class="col-md-3">
                    {{ form_widget(form.position, {'attr': {'class': 'form-control input-md'}}) }}
                    <span class="help-block">序号</span>
                </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-1 control-label" for="media_video_submit"></label>
                <div class="col-md-7">
                    <button id="media_video_submit" name="media_video[submit]" class="btn btn-success">提交</button>
                </div>
                {{ form_row(form._token) }}
            </div>

        </fieldset>
    </form>
{% endblock %}

{% block foot_script_assetic %}
    {% javascripts output="js/vlidate.js"
    '@AppWebBundle/Resources/public/components/jquery-validation/dist/jquery.validate.js'
    '@AppWebBundle/Resources/public/components/jquery-validation/src/localization/messages_zh.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        Terms = JSON.parse('{{ terms_json|raw }}');
        jQuery(function($){
            $().ready(function(){
                var cid = null;
                $('#category').change(function(){
                    cid = $(this).val();
                    $('#term').html('');
                    replaceTerms(cid);
                });
                function replaceTerms(cid){
                    if(typeof Terms[cid] != 'undefined') {
                        for(var tid in Terms[cid]){
                            var option = $('<option></option>');
                            option.attr('value', tid).html(Terms[cid][tid]).appendTo('#term');
                        }
                    }
                }

                //视频节点添加新行
                var delete_btn = $('<div class="col-md-1"> <button type="button" class="btn btn-danger delete">删除</button> </div>');
                $('#snapshot_add_row').click(function(e){
                    e.defaultPrevented;
                    var snst = $('#snapshots').children().last().clone();

                    if(snst.find('.btn.delete').length == 0) {
                        delete_btn.appendTo(snst);
                    }
                    //删除一行表单
                    snst.find('.btn.delete').bind('click',function(e){
                        e.defaultPrevented;
                        $(this).parents('.snapshot').remove();
                    });
                    snst.appendTo('#snapshots');
                });
                //表单验证
                $("#media_video").validate({
                    highlight: function(element) {
                        $(element).closest('.form-group').addClass('has-error');
                    },
                    unhighlight: function(element) {
                        $(element).closest('.form-group').removeClass('has-error');
                    },
                    errorElement: 'span',
                    errorClass: 'help-block',
                    errorPlacement: function(error, element) {
                        if(element.parent('.input-group').length) {
                            error.insertAfter(element.parent());
                        } else {
                            error.insertAfter(element);
                        }
                    }
                });
            })
        })

    </script>
{% endblock foot_script_assetic %}
