{% extends 'AppAdminBundle::Video/index.html.twig' %}

{% block content_sidebar %}
    <h1>{{ entity.title }}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ entity.number }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Format</th>
                <td>{{ entity.format }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ entity.duration }}</td>
            </tr>
            <tr>
                <th>Cover</th>
                <td>{{ entity.cover }}</td>
            </tr>
            <tr>
                <th>Source</th>
                <td>{{ entity.source }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Speaker</th>
                <td>{{ entity.speaker }}</td>
            </tr>
            <tr>
                <th>Speakertitle</th>
                <td>{{ entity.speakerTitle }}</td>
            </tr>
            <tr>
                <th>Speakeravatar</th>
                <td>{{ entity.speakerAvatar }}</td>
            </tr>
            <tr>
                <th>Speakerintro</th>
                <td>{{ entity.speakerIntro }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ entity.size }}</td>
            </tr>
            <tr>
                <th>Allowsale</th>
                <td>{{ entity.allowSale }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ entity.slug }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_video') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_video_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
