{% extends "::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block title %}找回密码 - 微述{% endblock %}

{% block head_style %}
    {{ parent() }}
    {% stylesheets
    '@AppWebBundle/Resources/public/css/myroom.css'
    filter="css_url_rewrite"
    %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock head_style %}

{% block content %}
    <div class="register borderra">
        <div class="rleft g-u">
            <dl>
                <dt>重置密码的邮件已发出，请在48小时内登录查收！</dt>
                <dd>登录邮箱<em>{{ email }}</em>按邮件提示步骤找回密码。</dd>
            </dl>
        </div>
        <div class="rright g-u">
            <p>没有收到邮件？</p>
            <ul>
                <li>· 如果超过10分钟您仍然未收到邮件，请您：重发一封</li>
                <li>· 可以到垃圾邮件目录里找找 </li>
            </ul>
        </div>
    </div>
{% endblock %}
