{% extends "::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}找回密码 - 微述{% endblock %}

{% block head_style %}
    {{ parent() }}
    {% stylesheets
    '@AppWebBundle/Resources/public/css/myroom.css'
    filter="css_url_rewrite"
    %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock head_style %}

{% block content %}
    <form id="change_password" action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="register borderra">
        <div class="rleft g-u">
            <dl>
                <dt>找回密码</dt>
                <dd>
                    <input class="icons intputtext" required="required" id="username" name="username" type="text" placeholder="请输入您的用户名" style="color:#999"/>
                        {% if invalid_username is defined %}
                        <b class="icons erro"></b>您填写的帐号不存在 </span>
                        {% endif %}
                </dd>
                <dd><a id="submit" href="#" class="icons nextbtn">下一步</a></dd>
            </dl>
        </div>
        <div class="rright g-u">
            <p>忘记帐号？</p>
            <ul>
                <li>· 试试您的常用邮箱或昵称</li>
                <li>· 需要申请客服人工重置密码，请发邮件至 support@veishu.com </li>
            </ul>
        </div>
    </div>
    </form>
{% endblock content %}

{% block foot_script_assetic %}
    {{ parent() }}
    {% javascripts output="js/validate.js"
    '@AppWebBundle/Resources/public/components/jquery-validation/dist/jquery.validate.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        //表单验证
        $().ready(function(){
            $("#change_password").validate({
                rules: {
                    'username': {
                        required: true
                    }
                },
                messages: {
                    'username': {
                        required: '用户名未填写！'
                    }
                }
            });
            $('#submit').click(function(){
                $("#change_password").submit();
            });
        });
    </script>
{% endblock foot_script_assetic %}