{% extends "::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}修改密码 - 微述{% endblock %}

{% block head_style %}
    {{ parent() }}
    {% stylesheets
    '@AppWebBundle/Resources/public/css/myroom.css'
    filter="css_url_rewrite"
    %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock head_style %}

{% block content %}
    <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
        </div>
    </form>

{% endblock content %}
