{% extends "AppWebBundle::list.html.twig" %}

{% block title %}微述{% endblock %}

{% block content_sidebar %}
    <div class="mainleft leftF">
        <ul class="treenav">
            <li class="cur"><a href="{{ path('page_about_us') }}">关于我们</a></li>
            <li><a href="{{ path('page_contact_us') }}">联系我们</a></li>
            <li><a href="{{ path('page_our_team') }}">团队介绍</a></li>
            <li><a href="{{ path('page_privacy') }}">版权声明</a></li>
            <li class="last"><a href="{{ path('page_legal') }}">法律条款</a></li>
        </ul>
    </div>
{% endblock content_sidebar %}

{% block content_right %}
    <div class="pagebox">
        <h3>关于我们</h3>
        <p class="info"></p>
        <div class="newspage">
            <p>微述是西安云赞信息技术有限公司旗下视频学习平台。以生活类小百科为创作基础，为学习者提供优质学习资源的在线教育平台，公司依托 与多家权威教育、众多培训机构建立合作，精选学习资源。公司拥有专业的拍摄制作团队及运营研发团队，自主拍摄和制作，学习体系严谨，分为独立的视频教学和专业的课程教学相结合，立足于为用户打造实用技能型学习平台。 </p>
        </div>
        <p class="resource"><span class="rightF"></span></p>
    </div>
{% endblock content_right %}
