{% extends "AppWebBundle::list.html.twig" %}

{% block title %}微述{% endblock %}

{% block content_sidebar %}
    <div class="mainleft leftF">
        <ul class="treenav">
            <li><a href="{{ path('page_about_us') }}">关于我们</a></li>
            <li class="cur"><a href="{{ path('page_contact_us') }}">联系我们</a></li>
            <li><a href="{{ path('page_our_team') }}">团队介绍</a></li>
            <li><a href="{{ path('page_privacy') }}">版权声明</a></li>
            <li class="last"><a href="{{ path('page_legal') }}">法律条款</a></li>
        </ul>
    </div>
{% endblock content_sidebar %}

{% block content_right %}
    <div class="pagebox">
        <h3>联系我们</h3>
        <p class="info"></p>
        <div class="newspage">
            <p>地址：西安市高新区唐延南路逸翠园i都会4号楼2单元21203室</p>
            <p>客服邮箱：service@veishu.com</p>
            <p>电话：02989288261</p>
        </div>
        <p class="resource"><span class="rightF"></span></p>
    </div>
{% endblock content_right %}
