{% extends "AppWebBundle::list.html.twig" %}

{% block title %}微述{% endblock %}

{% block content_sidebar %}
    <div class="mainleft leftF">
        <ul class="treenav">
            <li><a href="{{ path('page_about_us') }}">关于我们</a></li>
            <li><a href="{{ path('page_contact_us') }}">联系我们</a></li>
            <li><a href="{{ path('page_our_team') }}">团队介绍</a></li>
            <li><a href="{{ path('page_privacy') }}">版权声明</a></li>
            <li class="last cur"><a href="{{ path('page_legal') }}">法律条款</a></li>
        </ul>
    </div>
{% endblock content_sidebar %}

{% block content_right %}
    <div class="pagebox">
        <h3>微述平台服务协议</h3>
        <p class="info"></p>
        <div class="newspage">
            <p>
                1.欢迎使用微述平台服务，为了保障您的权益，请在使用微述平台服务之前，详细阅读此服务协议所有内容。<p>
                2.您可浏览学习微述平台上的学习资源，如您希望学习该视频，您需先注册帐号并登录。您在学习视频资源时登陆帐号是云赞公司确认您身份的唯一依据。<p>
                3.微述所载学习资源均由云赞公司原创，自主进行系统专业的拍摄和制作，为用户打造实用技能型学习平台，旨在为用户提供优质的学习资源，（未成年在浏览学习部分视频资源时必须由法定监护人陪同，以免独自操作造成不必要的伤害）。<p>
                5.本平台所载视频资源版权均归云赞公司所有。所有视频仅供大家学习参考，非经云赞公司书面同意您不得擅自使用、修改、复制、传播、改变、散布、发行或发表上述内容或用于商业目的。如有违反，本公司将追究其法律责任，并承担由此给云赞公司或其他权利人造成的一切损失。<p>
                6.未经本站许可，任何人不得盗链本站下载资源；不得复制、仿造本站或者在非本站所属服务器上建立镜像。本站的标识、源代码、及所有页面的版式设计等，版权归云赞公司所有。<p>
                7.网友或本站会员所发言论仅代表该网友或会员个人观点，不代表本站。<p>
                8.所有发给您的通知都可通过电子邮件、常规的信件或在网站显著位置公告的方式进行传送。<p>
                9.本服务条款要与国家相关法律、法规一致，如发生服务条款与相关法律、法规条款有相抵触的内容，抵触部分以法律、法规条款为准。<p>
                10、如果您对本协议内容有任何疑惑或对服务条款有任何意见及建议可通过客户服务部门与云赞公司联系，请发送邮件至我们的客服邮箱。<p>

        </div>
        <p class="resource"><span class="rightF"></span></p>
    </div>
{% endblock content_right %}
