{% extends "AppWebBundle::list.html.twig" %}

{% block title %}微述{% endblock %}

{% block content_sidebar %}
    <div class="mainleft leftF">
        <ul class="treenav">
            <li><a href="{{ path('page_about_us') }}">关于我们</a></li>
            <li><a href="{{ path('page_contact_us') }}">联系我们</a></li>
            <li class="cur"><a href="{{ path('page_our_team') }}">团队介绍</a></li>
            <li><a href="{{ path('page_privacy') }}">版权声明</a></li>
            <li class="last"><a href="{{ path('page_legal') }}">法律条款</a></li>
        </ul>
    </div>
{% endblock content_sidebar %}

{% block content_right %}
    <div class="pagebox">
        <h3>团队介绍</h3>
        <p class="info"></p>
        <div class="newspage">
            <h2>课程开发团队</h2>
            <p>拥有专业自主的视频拍摄与制作团队，依托与多家权威教育机构、培训机构，权威讲师建立合作，进行课程选材、课程策划、布景拍摄和后期制作。课程体系严谨，平均每集微视频时长在3分钟左右,致力于让学习者利用碎片化的时间获得实用技能。</p>
            <p></p>
            <h2>平台研发团队</h2>
            <p>拥有一支具有国际化创新理念并在IT行业拥有丰富专业经验和执行能力的研发团队，由北大、清华等高等院校毕业具有硕士学历并从事多年互联网行业的资深研发架构师、高级工程师带队，为公司WEB平台和移动平台保驾护航。
            </p>
        </div>
        <p class="resource"><span class="rightF"></span></p>
    </div>
{% endblock content_right %}
