{% extends "AppWebBundle::list.html.twig" %}

{% block title %}微述{% endblock %}

{% block content_sidebar %}
    <div class="mainleft leftF">
        <ul class="treenav">
            <li><a href="{{ path('page_about_us') }}">关于我们</a></li>
            <li><a href="{{ path('page_contact_us') }}">联系我们</a></li>
            <li><a href="{{ path('page_our_team') }}">团队介绍</a></li>
            <li class="cur"><a href="{{ path('page_privacy') }}">版权声明</a></li>
            <li class="last"><a href="{{ path('page_legal') }}">法律条款</a></li>
        </ul>
    </div>
{% endblock content_sidebar %}

{% block content_right %}
    <div class="pagebox">
        <h3>版权声明</h3>
        <p class="info"></p>
        <div class="newspage">
            <p>微述平台对其发行的或与合作组织机构共同发行的全部内容包括原创视频与文字内容拥有版权等知识产权，受法律保护。未经本公司书面许可，任何单位及个人不得以任何方式或理由对上述产品、服务、信息、材料的任何部分进行使用、复制、修改、复制、抄录、传播、发行或与其它产品捆绑使用、销售。凡侵犯本公司版权等知识产权的，本公司必依法追究其法律责任。</p>
        </div>
        <p class="resource"><span class="rightF"></span></p>
    </div>
{% endblock content_right %}
